{% extends "check-answers.njk" %}

{# set variables to test various user selected data #}
{% set postcodeKnown = log[section.id]["postcode-known"] == "true" %}
{% set laKnown = log[section.id]["local-authority-known"] == "true" %}
{% set isRelet = log[section.id]["is-relet"] == "true" %}
{% set isNewlet = log[section.id]["is-relet"] == "false" %}
{% set vacancyDueToRelet = log[section.id]["reason-for-vacancy"] == "relet" %}
{% set vacancyDueToMove = log[section.id]["reason-for-vacancy"] == "moved" %}
{% set vacancyDueToEviction = log[section.id]["reason-for-vacancy"] == "evicted" %}
{% set wasRepaired = log[section.id]["repairs"] == "true" %}

{# Answer objects #}
{% set property_reference = {
  key: {
    text: "Property reference"
  },
  value: {
    text: log[section.id]["property-reference"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/reference?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "property reference"
    }]
  }
} %}
{% set postcode_unknown = {
  key: {
    text: "Postcode"
  },
  value: {
    text: "Not known"
  },
  actions: {
    items: [{
      href: sectionPath + "/postcode?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "postcode"
    }]
  }
} if not postcodeKnown %}
{% set postcode = {
  key: {
    text: "Postcode"
  },
  value: {
    text: log[section.id]["postcode"]
  },
  actions: {
    items: [{
      href: sectionPath + "/postcode?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "postcode"
    }]
  }
} if postcodeKnown %}
{% set local_authority_unknown = {
  key: {
    text: "Local authority"
  },
  value: {
    text: "Not known"
  },
  actions: {
    items: [{
      href: sectionPath + "/local-authority-known?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "Local authority"
    }]
  }
} if not postcodeKnown and not laKnown %}
{% set local_authority = {
  key: {
    text: "Local authority"
  },
  value: {
    text: log[section.id]["local-authority"] | textFromInputValue(data.questions["local-authorities"])
  },
  actions: {
    items: [{
      href: sectionPath + "/local-authority-known?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "Local authority"
    }]
  }
} if not postcodeKnown and laKnown %}
{% set reason_for_not_knowing = {
  key: {
    text: "Reason you don’t know either the postcode or local authority"
  },
  value: {
    text: log[section.id]["why-dont-you-know-postcode-or-la"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/why-dont-you-know-postcode-or-la?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "the reason you don't know either the postcode or local authority"
    }]
  }
} if not postcodeKnown and not laKnown %}
{% set is_property_a_relet = {
  key: {
    text: "Is the property a re-let?"
  },
  value: {
    text: log[section.id]["is-relet"] | textFromInputValue(data.questions["yes-no"])
  },
  actions: {
    items: [{
      href: sectionPath + "/is-relet?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "if this property is a re-let"
    }]
  }
} %}
{% set recent_let_type = {
  key: {
    text: "Most recent let type"
  },
  value: {
    text: log[section.id]["property-recent-relet-type"] | textFromInputValue(data.questions["recent-relet-type"])
  },
  actions: {
    items: [{
      href: sectionPath + "/recent-relet-type?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "the recent let type"
    }]
  }
} if isRelet %}
{% set vacancy_reason_when_newlet = {
  key: {
    text: "Vacancy reason"
  },
  value: {
    text: log[section.id]["reason-for-non-relet"] | textFromInputValue(data.questions["reason-for-vacancy-non-relet"])
  },
  actions: {
    items: [{
      href: sectionPath + "/reason-for-vacancy-non-relet?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "reason for vacancy"
    }]
  }
} if isNewlet %}
{% set vacancy_reason_when_relet = {
  key: {
    text: "Vacancy reason"
  },
  value: {
    text: log[section.id]["reason-for-vacancy"] | textFromInputValue(data.questions["reason-for-vacancy"])
  },
  actions: {
    items: [{
      href: sectionPath + "/reason-for-vacancy?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "reason for vacancy"
    }]
  }
} if isRelet %}
{% set reason_for_relet = {
  key: {
    text: "Reason for re-let to existing tenant"
  },
  value: {
    text: log[section.id]["reason-for-relet"] | textFromInputValue(data.questions["reason-for-vacancy-relet"])
  },
  actions: {
    items: [{
      href: sectionPath + "/reason-for-vacancy-relet?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "reason for re-let to existing tenant"
    }]
  }
} if vacancyDueToRelet %}
{% set reason_for_move = {
  key: {
    text: "Reason for the previous tenant moving"
  },
  value: {
    text: log[section.id]["reason-for-move"] | textFromInputValue(data.questions["reason-for-vacancy-moved"])
  },
  actions: {
    items: [{
      href: sectionPath + "/reason-for-vacancy-moved?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "reason for the previous tenant moving"
    }]
  }
} if vacancyDueToMove %}
{% set reason_for_eviction = {
  key: {
    text: "Reason the previous tenant was evicted"
  },
  value: {
    text: log[section.id]["reason-for-eviction"] | textFromInputValue(data.questions["reason-for-vacancy-evicted"])
  },
  actions: {
    items: [{
      href: sectionPath + "/reason-for-vacancy-evicted?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "reason the previous tenant was evicted"
    }]
  }
} if vacancyDueToEviction %}
{% set type_of_unit = {
  key: {
    text: "Type of unit"
  },
  value: {
    text: log[section.id]["type-of-unit"] | textFromInputValue(data.questions["type-of-unit"])
  },
  actions: {
    items: [{
      href: sectionPath + "/type-of-unit?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "type of unit"
    }]
  }
} %}
{% set type_of_building = {
  key: {
    text: "Type of building"
  },
  value: {
    text: log[section.id]["type-of-property"] | textFromInputValue(data.questions["type-of-property"])
  },
  actions: {
    items: [{
      href: sectionPath + "/type-of-property?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "type of building"
    }]
  }
} %}
{% set adapted_for_wheelchair = {
  key: {
    text: "Wheelchair adaptation"
  },
  value: {
    text: log[section.id]["is-adapted"] | textFromInputValue(data.questions["yes-no"])
  },
  actions: {
    items: [{
      href: sectionPath + "/is-adapted?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "wheelchair adaptation status"
    }]
  }
} %}
{% set number_of_bedrooms = {
  key: {
    text: "Number of bedrooms"
  },
  value: {
    text: log[section.id]["number-of-bedrooms"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/number-of-bedrooms?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "number of bedrooms"
    }]
  }
} %}
{% set void_date = {
  key: {
    text: "Void, new build handover or renewal date"
  },
  value: {
    text: log[section.id]["void-date"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/void-date?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "date"
    }]
  }
} %}
{% set repairs = {
  key: {
    text: "Major repairs carried out during the void period"
  },
  value: {
    text: log[section.id]["repairs"] | textFromInputValue(data.questions['yes-no'])
  },
  actions: {
    items: [{
      href: sectionPath + "/repairs?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "repairs status"
    }]
  }
} %}
{% set repairs_date = {
  key: {
    text: "Repairs completion date"
  },
  value: {
    text: log[section.id]["repairs-date"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/repairs?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "repairs completion date"
    }]
  }
} if wasRepaired %}
{% set times_offered = {
  key: {
    text: "Times previously offered since becoming available"
  },
  value: {
    text: log[section.id]["times-previously-offered"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/times-previously-offered?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "times offered"
    }]
  }
} %}

{% block checkAnswers %}

  {% set isSupportedHousing = log['about-this-log']['letting-need-type'] == 'supported-housing' %}
  {% set isRenewal = log['about-this-log']['letting-renewal'] == 'true' %}

  {% if isSupportedHousing and not isRenewal %}
    {{ govukSummaryList({
      rows: [
        property_reference,
        postcode_unknown,
        postcode,
        local_authority_unknown,
        local_authority,
        reason_for_not_knowing,
        is_property_a_relet,
        vacancy_reason_when_newlet,
        vacancy_reason_when_relet,
        reason_for_relet,
        reason_for_move,
        reason_for_eviction,
        adapted_for_wheelchair,
        void_date,
        repairs,
        repairs_date,
        times_offered
      ]
    }) }}
  {% elif not isSupportedHousing and isRenewal %}
    {{ govukSummaryList({
      rows: [
        property_reference,
        is_property_a_relet,
        vacancy_reason_when_newlet,
        vacancy_reason_when_relet,
        reason_for_relet,
        reason_for_move,
        reason_for_eviction,
        adapted_for_wheelchair,
        void_date,
        repairs,
        repairs_date,
        times_offered
      ]
    }) }}
  {% elif isSupportedHousing and isRenewal %}
    {{ govukSummaryList({
      rows: [
        property_reference,
        adapted_for_wheelchair,
        repairs,
        repairs_date,
        times_offered
      ]
    }) }}
  {% else %}
    {{ govukSummaryList({
      rows: [
        property_reference,
        postcode_unknown,
        postcode,
        local_authority_unknown,
        local_authority,
        reason_for_not_knowing,
        is_property_a_relet,
        recent_let_type,
        vacancy_reason_when_newlet,
        vacancy_reason_when_relet,
        reason_for_relet,
        reason_for_move,
        reason_for_eviction,
        type_of_unit,
        type_of_building,
        adapted_for_wheelchair,
        number_of_bedrooms,
        void_date,
        repairs,
        repairs_date,
        times_offered
      ]
    }) }}
  {% endif %}
{% endblock %}
