{% extends "check-answers.njk" %}

{# set variables to test various user selected data #}
{% set postcodeKnown = log[section.id]["postcode-known"] == "true" %}
{% set laKnown = log[section.id]["local-authority-known"] == "true" %}
{% set isRelet = log[section.id]["is-relet"] == "true" %}
{% set isNewlet = log[section.id]["is-relet"] == "false" %}
{% set wasRepaired = log[section.id]["repairs"] == "true" %}
{% set isNewprop = log[section.id]["reason-for-non-relet"] == "newprop" %}

{# Answer objects #}
{% set property_reference = {
  key: {
    text: "Property reference"
  },
  value: {
    text: log[section.id]["property-reference"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/reference",
      text: "Change",
      visuallyHiddenText: "property reference"
    }]
  }
} %}
{% set postcode_unknown = {
  key: {
    text: "Postcode"
  },
  value: {
    text: "Not known"
  },
  actions: {
    items: [{
      href: sectionPath + "/postcode",
      text: "Change",
      visuallyHiddenText: "postcode"
    }]
  }
} if not postcodeKnown %}
{% set postcode = {
  key: {
    text: "Postcode"
  },
  value: {
    text: log[section.id]["postcode"]
  },
  actions: {
    items: [{
      href: sectionPath + "/postcode",
      text: "Change",
      visuallyHiddenText: "postcode"
    }]
  }
} if postcodeKnown %}
{% set local_authority_known = {
  key: {
    text: "Local authority known"
  },
  value: {
    text: log[section.id]["local-authority-known"] | textFromInputValue(data.questions["yes-no"])
  },
  actions: {
    items: [{
      href: sectionPath + "/local-authority-known",
      text: "Change",
      visuallyHiddenText: "Local authority"
    }]
  }
} if not postcodeKnown %}
{% set local_authority = {
  key: {
    text: "Local authority"
  },
  value: {
    text: log[section.id]["local-authorities"] | textFromInputValue(data.questions["local-authorities"])
  },
  actions: {
    items: [{
      href: sectionPath + "/local-authority-known",
      text: "Change",
      visuallyHiddenText: "Local authority"
    }]
  }
} if not postcodeKnown and laKnown %}
{% set reason_for_not_knowing = {
  key: {
    text: "Reason you don’t know either the postcode or local authority"
  },
  value: {
    text: log[section.id]["why-dont-you-know-postcode-or-la"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/why-dont-you-know-postcode-or-la",
      text: "Change",
      visuallyHiddenText: "the reason you don't know either the postcode or local authority"
    }]
  }
} if not postcodeKnown and not laKnown %}
{% set is_property_a_relet = {
  key: {
    text: "First time being let as social-housing"
  },
  value: {
    text: log[section.id]["is-relet"] | textFromInputValue(data.questions["re-let"])
  },
  actions: {
    items: [{
      href: sectionPath + "/is-relet",
      text: "Change",
      visuallyHiddenText: "if this is the first time being let as social-housing"
    }]
  }
} %}
{% set recent_let_type = {
  key: {
    text: "Most recent let type"
  },
  value: {
    text: log[section.id]["property-recent-relet-type"] | textFromInputValue(data.questions["recent-relet-type"])
  },
  actions: {
    items: [{
      href: sectionPath + "/recent-relet-type",
      text: "Change",
      visuallyHiddenText: "the recent let type"
    }]
  }
} if isRelet %}
{% set vacancy_reason_when_newlet = {
  key: {
    text: "Vacancy reason"
  },
  value: {
    text: log[section.id]["reason-for-non-relet"] | textFromInputValue(data.questions["reason-for-vacancy-non-relet"])
  },
  actions: {
    items: [{
      href: sectionPath + "/reason-for-vacancy-non-relet",
      text: "Change",
      visuallyHiddenText: "reason for vacancy"
    }]
  }
} if isNewlet %}
{% set vacancy_reason_when_relet = {
  key: {
    text: "Vacancy reason"
  },
  value: {
    text: log[section.id]["reason-for-vacancy"] | textFromInputValue(data.questions["reason-for-vacancy"])
  },
  actions: {
    items: [{
      href: sectionPath + "/reason-for-vacancy",
      text: "Change",
      visuallyHiddenText: "reason for vacancy"
    }]
  }
} if isRelet %}
{% set type_of_unit = {
  key: {
    text: "Type of unit"
  },
  value: {
    text: log[section.id]["type-of-unit"] | textFromInputValue(data.questions["type-of-unit"])
  },
  actions: {
    items: [{
      href: sectionPath + "/type-of-unit",
      text: "Change",
      visuallyHiddenText: "type of unit"
    }]
  }
} %}
{% set type_of_building = {
  key: {
    text: "Type of building"
  },
  value: {
    text: log[section.id]["type-of-property"] | textFromInputValue(data.questions["type-of-property"])
  },
  actions: {
    items: [{
      href: sectionPath + "/type-of-property",
      text: "Change",
      visuallyHiddenText: "type of building"
    }]
  }
} %}
{% set adapted_for_wheelchair = {
  key: {
    text: "Wheelchair adaptation"
  },
  value: {
    text: log[section.id]["is-adapted"] | textFromInputValue(data.questions["yes-no"])
  },
  actions: {
    items: [{
      href: sectionPath + "/is-adapted",
      text: "Change",
      visuallyHiddenText: "wheelchair adaptation status"
    }]
  }
} %}
{% set number_of_bedrooms = {
  key: {
    text: "Number of bedrooms"
  },
  value: {
    text: log[section.id]["number-of-bedrooms"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/number-of-bedrooms",
      text: "Change",
      visuallyHiddenText: "number of bedrooms"
    }]
  }
} %}
{% set void_date = {
  key: {
    text: "Void, new build handover or renewal date"
  },
  value: {
    text: log[section.id]["void-date"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/void-date",
      text: "Change",
      visuallyHiddenText: "date"
    }]
  }
} %}
{% set repairs = {
  key: {
    text: "Major repairs carried out during the void period"
  },
  value: {
    text: log[section.id]["repairs"] | textFromInputValue(data.questions['yes-no'])
  },
  actions: {
    items: [{
      href: sectionPath + "/repairs",
      text: "Change",
      visuallyHiddenText: "repairs status"
    }]
  }
} if not isNewprop %}
{% set repairs_date = {
  key: {
    text: "Repairs completion date"
  },
  value: {
    text: log[section.id]["repairs-date"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/repairs",
      text: "Change",
      visuallyHiddenText: "repairs completion date"
    }]
  }
} if wasRepaired %}
{% set times_offered = {
  key: {
    text: "Times previously offered since becoming available"
  },
  value: {
    text: log[section.id]["times-previously-offered"] | textFromInputValue
  },
  actions: {
    items: [{
      href: sectionPath + "/times-previously-offered",
      text: "Change",
      visuallyHiddenText: "times offered"
    }]
  }
} %}

{% macro inferred_answers(rows) %}
<h2 class="govuk-heading-m">Inferred data</h2>
<p>We were able to work out the following from answers you gave elsewhere</p>
{{ govukSummaryList({
  rows: rows
})}}
{% endmacro %}

{% block checkAnswers %}

  {% set isSupportedHousing = log['about-this-log']['letting-need-type'] == 'supported-housing' %}
  {% set isRenewal = log['about-this-log']['letting-renewal'] == 'true' %}

  {% if isSupportedHousing and not isRenewal %}
    {{ govukSummaryList({
      rows: [
        property_reference,
        postcode_unknown,
        postcode,
        local_authority_known,
        local_authority,
        reason_for_not_knowing,
        is_property_a_relet,
        recent_let_type,
        vacancy_reason_when_newlet,
        vacancy_reason_when_relet,
        type_of_unit,
        type_of_building,
        adapted_for_wheelchair,
        void_date,
        repairs,
        repairs_date,
        times_offered
      ]
    }) }}
    {{ inferred_answers([
      {
        key: {
          text: "Number of bedrooms"
        },
        value: {
          text: "Not required for Social housing"
        }
      }
    ]) }}
  {% elif not isSupportedHousing and isRenewal %}
    {{ govukSummaryList({
      rows: [
        property_reference,
        postcode_unknown,
        postcode,
        local_authority_known,
        local_authority,
        reason_for_not_knowing,
        type_of_unit,
        type_of_building,
        adapted_for_wheelchair,
        number_of_bedrooms
      ]
    }) }}
    {{ inferred_answers([
      {
        key: {
          text: "Local authority"
        },
        value: {
          text: "Arun"
        }
      } if postcodeKnown, {
        key: {
          text: "First time being let as social-housing"
        },
        value: {
          text: "No"
        }
      }, {
        key: {
          text: "Reason for vacancy"
        },
        value: {
          text: "Renewal of fixed-term tenancy"
        }
      }, {
        key: {
          text: "Times previously offered since becoming available"
        },
        value: {
          text: "0"
        }
      }, {
        key: {
          text: "Most recent let type"
        },
        value: {
          text: log["about-this-log"]["letting-rent-type"] | textFromInputValue(data.questions['letting-rent-type'])
        }
      }, {
        key: {
          text: "Renewal date"
        },
        value: {
          text: log["about-this-log"]["letting-start-date"] | textFromInputValue
        }
      }, {
        key: {
          text: "Major repairs carried out during void period"
        },
        value: {
          text: "No"
        }
      }
    ]) }}
  {% elif isSupportedHousing and isRenewal %}
    {{ govukSummaryList({
      rows: [
        property_reference,
        postcode_unknown,
        postcode,
        local_authority_known,
        local_authority,
        reason_for_not_knowing,
        type_of_unit,
        type_of_building,
        adapted_for_wheelchair
      ]
    }) }}
    {{ inferred_answers([
      {
        key: {
          text: "Local authority"
        },
        value: {
          text: "Arun"
        }
      } if postcodeKnown, {
        key: {
          text: "First time being let as social-housing"
        },
        value: {
          text: "No"
        }
      }, {
        key: {
          text: "Reason for vacancy"
        },
        value: {
          text: "Renewal of fixed-term tenancy"
        }
      }, {
        key: {
          text: "Times previously offered since becoming available"
        },
        value: {
          text: "0"
        }
      }, {
        key: {
          text: "Most recent let type"
        },
        value: {
          text: log["about-this-log"]["letting-rent-type"] | textFromInputValue(data.questions['letting-rent-type'])
        }
      }, {
        key: {
          text: "Renewal date"
        },
        value: {
          text: log["about-this-log"]["letting-start-date"] | textFromInputValue
        }
      }, {
        key: {
          text: "Major repairs carried out during void period"
        },
        value: {
          text: "No"
        }
      }, {
        key: {
          text: "Number of bedrooms"
        },
        value: {
          text: "Not required for social housing"
        }
      }
    ]) }}
  {% else %}
    {{ govukSummaryList({
      rows: [
        property_reference,
        postcode_unknown,
        postcode,
        local_authority_known,
        local_authority,
        reason_for_not_knowing,
        is_property_a_relet,
        recent_let_type,
        vacancy_reason_when_newlet,
        vacancy_reason_when_relet,
        type_of_unit,
        type_of_building,
        adapted_for_wheelchair,
        number_of_bedrooms,
        void_date,
        repairs,
        repairs_date,
        times_offered
      ]
    }) }}
    {{ inferred_answers([
      {
        key: {
          text: "Local authority"
        },
        value: {
          text: "Arun"
        }
      } if postcodeKnown
    ]) }}
  {% endif %}
{% endblock %}
