{% extends "layouts/question.njk" %}

{% set title = "Is the property built or adapted to wheelchair-user standards?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "is-adapted"])) }}
{% endblock %}
