{% extends "layouts/question.njk" %}

{% set title = "Is the property built or adapted to wheelchair-user standards?" %}
{% set questionId = "is-adapted" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["yes-no"]
  }) }}
{% endblock %}
