{% extends "question.njk" %}

{% set title = "Do you know the Local Authority where this property is located?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "property-local-authority-known"])) }}
{% endblock %}