{% extends "layouts/question.njk" %}

{% set title = "What is the local authority for the property?" %}
{% set questionId = "local-authorities" %}

{% block question %}
  {{ appAutocomplete(decorate({
    label: {
      text: macro.heading(title, caption)
    },
    items: data.questions[questionId]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
