{% extends "layouts/question.njk" %}

{% set title = "Do you know what local authority the property is located in?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "local-authority-known"])) }}
{% endblock %}
