{% extends "question.njk" %}

{% set title = "Select a local authority" %}

{% block question %}
  {{ govukSelect(decorate({
    label: {
      html: macro.heading(title, caption)
    },
    id: "autocomplete",
    items: data.questions["local-authorities"]
  }, ["logs", log.id, section.id, "local-authorities"])) }}
{% endblock %}
