{% extends "layouts/question.njk" %}

{% set title = "How many bedrooms does the property have?" %}
{% set questionId = "number-of-bedrooms" %}

{% block question %}
  {{ govukInput({
    decorate: ["logs", log.id, section.id, questionId],
    classes: "govuk-input--width-2",
    label: {
      html: macro.heading(title, caption)
    },
    hint: {
      text: "If shared accommodation, enter the number of bedrooms occupied by this household. A bedsit has 1 bedroom."
    },
    inputmode: "numeric",
    pattern: "[0-9]*"
  }) }}
{% endblock %}
