{% extends "question.njk" %}

{% set vacancyReason = log[section.id]["reason-for-vacancy"] %}
{% if vacancyReason == "moved" %}
  {% set title = "Why did the previous tenant move elsewhere?" %}
  {% set fieldName = "reason-for-vacancy-moved" %}
{% elif vacancyReason == "evicted" %}
  {% set title = "Why was the previous tenant evicted?" %}
  {% set fieldName = "reason-for-vacancy-evicted" %}
{% else %}
  {% set title = "Why was the property re-let to the exiting tenant?" %}
  {% set fieldName = "reason-for-vacancy-relet" %}
{% endif %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions[fieldName]
  }, ["logs", log.id, section.id, fieldName])) }}
{% endblock %}
