{% extends "layouts/question.njk" %}

{% set reLet = log[section.id]["is-re-let"] %}
{% set title = "What is the reason for the property being vacant?" %}
{% set questionId = "reason-for-vacancy" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["reason-for-vacancy"][reLet]
  }) }}
{% endblock %}
