{% extends "layouts/question.njk" %}

{% set isRelet = log[section.id]["is-relet"] %}
{% if isRelet == "true" %}
  {% set title = "Since becoming available for re-let, how many times has the property been previously offered?" %}
{% else %}
  {% set title = "Since becoming available, how many times has the property been previously offered?" %}
{% endif %}
{% set questionId = "times-previously-offered" %}

{% block question %}
  {{ govukInput({
    decorate: ["logs", log.id, section.id, questionId],
    classes: "govuk-input--width-2",
    label: {
      html: macro.heading(title, caption)
    },
    hint: {
      text: "If the property is being offered for let for the first time, enter 0." if isRelet else "If the property is being let for the first time, enter 0."
    },
    inputmode: "numeric",
    pattern: "[0-9]*"
  }) }}
{% endblock %}
