{% extends "question.njk" %}

{% set title = "How many times has the property been previously offered since becoming available for re-let?" %}
{% set hint = "This could be as a first let or after the last tenancy ended." %}

{% block question %}
  {{ govukInput(decorate({
    classes: "govuk-input--width-2",
    label: {
      html: macro.heading(title, caption)
    },
    hint: {
      text: hint
    },
    inputmode: "numeric",
    pattern: "[0-9]*"
  }, ["logs", log.id, section.id, "times-previously-offered"])) }}
{% endblock %}
