{% extends "layouts/question.njk" %}

{% set title = "What type was the property most recently let as?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title)
      }
    },
    items: data.questions["type-of-let"]
  }, ["logs", log.id, section.id, "type-of-let"])) }}
{% endblock %}
