{% extends "layouts/question.njk" %}

{% set title = "What type of building is the property?" %}
{% set questionId = "type-of-property" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions[questionId]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
