{% extends "layouts/question.njk" %}

{% set isNewprop = log[section.id]["reason-for-non-relet"] == "newprop" %}
{% if isNewprop %}
{% set title = "What is the new build handover date?" %}
{% else %}
{% set title = "What is the void or renewal date?" %}
{% endif %}

{% block question %}
  {{ govukDateInput(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    hint: {
      text: "For example, 12 11 2020"
    },
    items: data.questions["date-full"]
  }, ["logs", log.id, section.id, "void-date"])) }}
{% endblock %}
