{% extends "layouts/check-answers.njk" %}

{% set isFixedTerm =
  (log[section.id]["type-of-tenancy"] == "Fixed term – Secure") or
  (log[section.id]["type-of-tenancy"] == "Fixed term – Assured Shorthold Tenancy (AST)") %}
{% set isSupported = log["tailor-log"]["type-of-need"] == "supported" %}

{% block checkAnswers %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Joint tenancy"
      },
      value: {
        html: log[section.id]["is-joint"] | textFromInputValue(data.questions["yes-no"])
      },
      actions: actionLinks({
        href: sectionPath + "/is-joint",
        visuallyHiddenText: "if joint tenancy"
      })
    }, {
      key: {
        text: "Starter tenancy"
      },
      value: {
        html: log[section.id]["is-starter"] | textFromInputValue(data.questions["yes-no"])
      },
      actions: actionLinks({
        href: sectionPath + "/is-starter",
        visuallyHiddenText: "if starter tenancy"
      })
    }, {
      key: {
        text: "Tenancy type"
      },
      value: {
        html: log[section.id]["type-of-tenancy"] | textFromInputValue
      },
      actions: actionLinks({
        href: sectionPath + "/type-of-tenancy",
        visuallyHiddenText: "type of tenancy"
      })
    }, {
      key: {
        text: "Length of fixed-term tenancy"
      },
      value: {
        html: log[section.id]["fixed-term-length"] | textFromInputValue + " years"
      },
      actions: actionLinks({
        href: sectionPath + "/fixed-term-length",
        visuallyHiddenText: "length of fixed-term tenancy"
      })
    } if isFixedTerm, {
      key: {
        text: "Sheltered accommodation"
      },
      value: {
        html: log[section.id]["sheltered-accommodation"] | textFromInputValue
      },
      actions: actionLinks({
        href: sectionPath + "/sheltered-accommodation",
        visuallyHiddenText: "if sheltered accommodation"
      })
    } if isSupported]
  }) }}
{% endblock %}
