{% extends "layouts/question.njk" %}

{% set title = "Is this a starter tenancy?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title)
      }
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "is-starter"])) }}
{% endblock %}
