{% extends "layouts/question.njk" %}

{% set title = "Is this letting in sheltered accommodation?" %}
{% set questionId = "sheltered-accommodation" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: [{
      text: "Yes – extra care housing",
      value: "Yes – extra care housing"
    }, ({
      text: "Yes – specialist retirement housing",
      value: "Yes – specialist retirement housing"
    } if data.features["2022-23"].on == true else {
      text: "Yes – sheltered retirement housing",
      value: "Yes – sheltered retirement housing"
    }), {
      text: "No",
      value: "No"
    }, {
      divider: "or"
    }, {
      text: "Don’t know",
      value: "Don’t know"
    }]
  }) }}
{% endblock %}
