{% extends "layouts/question.njk" %}

{% if log[section.id]["is-starter"] == "true" %}
  {% set title = "What is the type of tenancy after the starter period has ended?" %}
{% else %}
  {% set title = "What is the type of tenancy?" %}
{% endif %}
{% set questionId = "type-of-tenancy" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions[questionId]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
