{% extends "layouts/question.njk" %}

{% set title = "What is the type of tenancy after the starter period has ended?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["type-of-tenancy"]
  }, ["logs", log.id, section.id, "type-of-tenancy"])) }}
{% endblock %}
