{% extends "layouts/base.njk" %}

{% set title = "You cannot create a " + log.type + " log" %}
{% set participant = "buyer" if log.type == "sales" else "tenant" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title) }}

      <p>We cannot accept data about a {{ participant }} unless they’ve seen the <a href="/public/files/privacy-notice.pdf" rel="noreferrer noopener" target="_blank">DLUHC privacy&nbsp;notice (opens in a new tab)</a>.</p>
      <p><a href="/logs">Return to your logs</a></p>
    </div>
  </div>
{% endblock %}
