{% extends "layouts/form.njk" %}

{% set title = "Check and submit " + log.type + " log" %}
{% set participant = "buyer" if log.type == "sales" else "tenant" %}
{% set cannotSubmit = "true" if log["household-characteristics"]["lead-tenant"]["privacy-notice"] != "true" %}

{% set backLink = "javascript:history.go(-1);" %}
{% set formAction = paths.current %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title) }}

      {% if cannotSubmit %}
        <p>You must <a href="/public/files/privacy-notice.pdf" rel="noreferrer noopener" target="_blank">show the Department for Levelling Up, Housing &amp; Communities (DLUHC) privacy&nbsp;notice (opens in a new tab)</a> to the {{ participant }} before you can submit this log.</p>

        {{ govukButton({
          href: "/logs/" + log.id,
          text: "Return to log"
        }) }}
      {% else %}
        <p>Your log is ready to submit</p>

        {{ govukButton({
          text: "Submit " + log.type + " log"
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
