{% extends "layouts/question.njk" %}

{% set title = "Submit your " + log.type + " log" %}
{% set participant = "buyer" if log.type == "sales" else "tenant" %}
{% set buttonText = "Submit " + log.type + " log" %}
{% set required = true %}

{% block question %}
  {{ govukCheckboxes(decorate({
    fieldset: {
      legend: {
        html: macro.heading(title)
      }
    },
    items: [{
      value: "true",
      text: "The " + participant + " has seen the Department for Levelling Up, Housing & Communities (DLUHC) privacy notice"
    }]
  }, ["logs", log.id, "submit", "confirmed"])) }}
{% endblock %}
