.app-document-list {
  @include govuk-text-colour;
  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
  padding-left: 0;
  list-style-type: none;
}

.app-document-list__item {
  margin-bottom: govuk-spacing(4);
  max-width: 30em;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.app-document-list__item-title {
  @include govuk-font($size: 19, $weight: "bold");
  margin: 0 0 govuk-spacing(1);

  .app-document-list--small & {
    @include govuk-font($size: 16, $weight: "bold");
  }
}

.app-document-list__item-metadata {
  padding: 0;
  margin: 0;
}

.app-document-list__item-description[class] {
  @include govuk-font($size: 19);
  margin: govuk-spacing(1) 0;

  .app-document-list--small & {
    @include govuk-font($size: 16);
  }
}

.app-document-list__item-metadata {
  @include govuk-font($size: 19);
  color: $govuk-secondary-text-colour;
  margin: 0;

  .app-document-list--small & {
    @include govuk-font($size: 16);
  }
}
