{% if params.items.length > 0 %}
  <dl class="app-document-list{%- if params.classes %} {{ params.classes }}{% endif %}">
  {% for item in params.items %}
    <div class="app-document-list__item">
      <dt class="app-document-list__item-title">
        <a class="govuk-link" href="{{ item.href }}">{{ item.text }}</a>
      </dt>
      {% if item.description %}
      <dd class="app-document-list__item-description">{{ item.description }}</dd>
      {% endif %}
      {% if item.metadata %}
        <dd class="app-document-list__item-metadata">{{ item.metadata }}</dd>
      {% endif %}
    </div>
  {% endfor %}
  </dl>
{% else %}
  <p class="govuk-body">No documents found.</p>
{% endif %}
