{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

<div class="app-filter">
  <div class="app-filter__header">
    <h2 class="govuk-heading-m">{{ params.title }}</h2>
  </div>

  <div class="app-filter__content">
    {{ caller() }}

    {{ govukButton({
      classes: "govuk-!-margin-bottom-0",
      text: "Apply filters"
    }) }}
  </div>
</div>
