{% extends "layouts/check-answers.njk" %}

{% block checkAnswers %}
  {{ govukInsetText({
    text: "Changing these answers might remove answers you’ve already given in other sections."
  }) if log[section.id]["completed"] == "true" }}

  {% include "logs/setup/_answers.njk" %}
{% endblock %}
