{% extends "layouts/question.njk" %}

{% set title = "Is this letting a renewal?" %}
{% set questionId = "letting-renewal" %}
{% set required = true %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    hint: {
      text: "A renewal is a letting to the same tenant in the same property."
    },
    items: data.questions["yes-no"],
    validate: {
      presence: {
        message: "Select yes if this is a renewal to the same tenant in the same property"
      }
    }
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
