{% extends "layouts/question.njk" %}

{% set title = "Which organisation manages this property?" if isOwningOrg else "Organisation details" %}
{% set questionId = "organisation-owner" %}

{% block question %}
  {% if isOwningOrg %}
    {{ govukRadios({
      decorate: ["logs", log.id, section.id, "organisation-manager"],
      fieldset: {
        legend: {
          html: macro.heading(title, caption)
        }
      },
      items: managingOrganisations | optionItems,
      validate: {
        presence: {
          message: "Select the organisation that manages this property"
        }
      }
    }) }}
  {% else %}
    {{ macro.heading(title, caption) }}

    {{ govukSelect({
      decorate: ["logs", log.id, section.id, questionId],
      label: {
        classes: "govuk-label--m",
        text: "Which organisation owns this property?"
      },
      items: owningOrganisations | optionItems,
      validate: {
        presence: {
          message: "Select the organisation that manages this property"
        }
      }
    }) }}

    {{ govukSelect({
      decorate: ["logs", log.id, section.id, "organisation-manager"],
      label: {
        classes: "govuk-label--m",
        text: "Which organisation manages this property?"
      },
      items: managingOrganisations | optionItems
    }) }}
  {% endif %}
{% endblock %}
