{% extends "layouts/question.njk" %}

{% set title = "Which organisation manages this property?" if isOwningOrg else "Organisation details" %}
{% set questionId = "organisation-owner" %}

{% block question %}
  {% if isOwningOrg %}
    {{ govukSelect(decorate({
      label: {
        html: macro.heading(title, caption)
      },
      items: managingOrganisations | optionItems
    }, ["logs", log.id, section.id, "organisation-manager"])) }}
  {% else %}
    {{ macro.heading(title, caption) }}

    {{ govukSelect(decorate({
      label: {
        classes: "govuk-label--m",
        text: "Which organisation owns this property?"
      },
      items: owningOrganisations | optionItems
    }, ["logs", log.id, section.id, questionId])) }}

    {{ govukSelect(decorate({
      label: {
        classes: "govuk-label--m",
        text: "Which organisation manages this property?"
      },
      items: managingOrganisations | optionItems
    }, ["logs", log.id, section.id, "organisation-manager"])) }}
  {% endif %}
{% endblock %}
