{% extends "layouts/question.njk" %}

{% set title = "What is the property reference?" %}
{% set questionId = "property-reference" %}
{% set required = true %}

{% block question %}
  {{ govukInput({
    decorate: ["logs", log.id, section.id, questionId],
    classes: "govuk-input--width-10",
    label: {
      html: macro.heading(title, caption)
    },
    hint: {
      text: "This is how you usually refer to this property on your own systems."
    }
  }) }}
{% endblock %}
