{% extends "layouts/question.njk" %}

{% set title = "What is the purchaser code?" %}
{% set questionId = "purchaser-code" %}
{% set required = true %}

{% block question %}
  {{ govukInput({
    decorate: ["logs", log.id, section.id, questionId],
    classes: "govuk-input--width-10",
    label: {
      html: macro.heading(title, caption)
    }
  }) }}
{% endblock %}
