{% extends "layouts/question.njk" %}

{% set schemeId = data.logs[log.id].setup.schemeId[1] %}
{% set title = "Which location used by " + data.schemes[schemeId].name + " is this log for?" %}
{% set questionId = "schemeLocationId" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.schemes[schemeId].locations | optionItems({
      text: "postcode",
      value: "id",
      hint: "local-authority"
    })
  }) }}
{% endblock %}
