{% extends "layouts/question.njk" %}

{% set schemeId = data.logs[log.id].setup.schemeId[1] %}
{% set title = "Which property used by " + data.schemes[schemeId].name + " is this log for?" %}
{% set questionId = "schemePropertyId" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.schemes[schemeId].properties | optionItems("address", "id", "postcode")
  }) }}
{% endblock %}
