{% extends "layouts/question.njk" %}

{% set title = "Which scheme does this log relate to?" %}
{% set questionId = "schemeId" %}

{% block question %}
  {{ rigAutocomplete(decorate({
    label: {
      html: macro.heading(title, caption)
    },
    hint: {
      text: "Enter scheme name or postcode"
    },
    allowEmpty: true,
    showNoOptionsFound: true,
    items: data.questions.scheme
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
