{% extends "layouts/question.njk" %}

{% set title = "What is the needs type?" %}
{% set questionId = "type-of-need" %}
{% set required = true %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.questions[questionId],
    validate: {
      presence: {
        message: "Select the type of need"
      }
    }
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
