{% extends "layouts/question.njk" %}

{% set title = "What is the rent type?" %}
{% set questionId = "type-of-rent" %}
{% set required = true %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: [{
      text: "Affordable Rent",
      value: "Affordable Rent"
    }, {
      text: "London Affordable Rent",
      value: "London Affordable Rent"
    }, {
      text: "London Living Rent",
      value: "London Living Rent"
    }, {
      text: "Rent to Buy",
      value: "Rent to Buy"
    }, {
      text: "Social Rent",
      value: "Social Rent"
    }, {
      text: "Other intermediate rent product",
      value: "Other intermediate rent product",
      conditional: {
        html: govukInput({
          decorate: ["logs", log.id, section.id, "other-rent-product"],
          label: {
            text: "Product name"
          }
        })
      }
    }],
    validate: {
      presence: {
        message: "Select the type of rent"
      }
    }
  }) }}
{% endblock %}
