{% extends "layouts/question.njk" %}

{% set title = "What is the needs type?" %}
{% set questionId = "type-of-need" %}
{% set required = true %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    hint: {
      text: 'General needs housing includes both self-contained and shared housing without support or specific adaptations. Supported housing can include direct access hostels, group homes, residential care and nursing homes.'
    },
    items: data.questions[questionId],
    validate: {
      presence: {
        message: "Select the type of need"
      }
    }
  }) }}
{% endblock %}
