{% set detailsHtml %}
  {% include "schemes/_scheme-details.njk" %}
{% endset %}

{% set locationsHtml %}
  {% include "schemes/_scheme-locations.njk" %}

  {{ govukButton({
    classes: "govuk-button--secondary",
    text: "Add another location" if locationsCount > 1 else "Add a location",
    href: schemePath + "/location/new"
  }) }}
{% endset %}

{{ govukTabs({
  items: [
    {
      label: "Scheme",
      id: "details",
      panel: {
        html: detailsHtml
      }
    }, {
      label: "Locations",
      id: "locations",
      panel: {
        html: locationsHtml
      }
    }
  ]
}) }}
