{{ govukCheckboxes({
  decorate: ["filter", "status"],
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--s",
      text: "Status"
    }
  },
  items: [{
    "text": "In progress",
    "value": "In progress"
  }, {
    "text": "Active",
    "value": "active"
  }, {
    "text": "Inactive",
    "value": "inactive"
  }]
}) }}

{{ govukCheckboxes({
  decorate: ["filter", "user"],
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--s",
      text: "Type of scheme"
    }
  },
  items: data.questions["type-of-scheme"]
}) }}

{{ managedOrganisations | dump }}
