{% extends "layouts/form.njk" %}

{% import "macros.njk" as macro %}

{% set title = scheme.name %}
{% set formAction = schemePath %}
{% set locationsCount = scheme.locations | length %}

{% block form %}
  {% for type, text in messages %}
    {{ govukNotificationBanner({ text: text, type: type }) }}
  {% endfor %}

  {{ macro.heading(title) }}

  <p class="govuk-button-group">
    {% if scheme.deactivated %}
      <span class="app-!-colour-muted govuk-!-margin-right-2">This scheme has been deactivated.</span>
      {% if isCoordinator or isAdmin %}
        <a class="govuk-link" href="{{ schemePath }}/reactivate">Reactivate scheme</a>
      {% endif %}
    {% else %}
      {% if isCoordinator or isAdmin %}
        <a class="govuk-link" href="{{ schemePath }}/deactivate">Deactivate scheme</a>
      {% endif %}
      {% if isAdmin %}
        <a class="govuk-link" href="{{ schemePath }}/delete">Delete scheme</a>
      {% endif %}
    {% endif %}
  </p>

  {{ appSubNavigation({
    items: [{
      text: "Scheme",
      href: schemePath,
      active: section == "scheme"
    }, {
      text: locationsCount + " locations" if locationsCount > 1 else "Location",
      href: schemePath + "/locations",
      active: section == "locations"
    }]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% block sectionContent %}{% endblock %}
    </div>
  </div>
{% endblock %}
