{% set locationRows = [] %}
{% set locationEditPage = locationEditPage or "location" %}
{% for location in locations %}
  {% set locationPath = "/schemes/" + scheme.id + "/" + locationEditPage + "/" + location.id %}
  {% set row = locationRows.push([{
    classes: "govuk-!-text-align-left",
    text: "S" + scheme.id + "-" + location.postcode | replace(" ", ""),
    format: "numeric"
  }, {
    html: macro.entityHtml(location.postcode, locationPath, location.name) if location.postcode else "Not known"
  }, {
    text: location.units
  }, {
    html: macro.entityHtml(location["type-of-unit"] | textFromInputValue(data.questions["type-of-unit"].supported), false, location.adaptation | textFromInputValue(data.questions.adaptation) if location.adaptation == "true" or location.adaptation == "general")
  }, {
    html: "<a href=\"" + locationPath + "/delete\">Delete<span class=\"govuk-visually-hidden\">" + location.postcode + "</span>" if isAdmin and not scheme.deactivated
  }])
  %}
{% endfor %}

{% call appTableGroup({ ariaLabel: "locations" }) %}
  {{ govukTable({
    caption: macro.tableCaption("locations", locations.length, q) | safe,
    captionClasses: "govuk-table__caption--m govuk-!-font-size-19 govuk-!-font-weight-regular",
    head: [{
      html: "Code"
    }, {
      text: "Postcode"
    }, {
      text: "Units"
    }, {
      text: "Common unit type"
    }, {
      text: "Actions"
    } if isAdmin and not scheme.deactivated],
    rows: locationRows
  }) }}
{% endcall %}
