{% extends "layouts/form.njk" %}

{% set title = "Check your answers before creating this scheme" %}

{% block form %}
  {{ macro.heading(title) }}

  {% include "schemes/_answers.njk" %}

  {{ govukButton(decorate({
    text: "Create scheme",
    value: "active"
  }, ["schemes", scheme.id, "status"])) }}
{% endblock %}
