{% extends "layouts/form.njk" %}

{% if updateAnswers %}
  {% set title = "Check your changes before updating this service" %}
{% else %}
  {% set title = "Check your answers before publishing this service" %}
{% endif %}
{% set backLink = "javascript:history.go(-1);" %}
{% set formAction = userOrganisationPath + "/schemes/?success=published&schemeId=" + scheme.id %}
{% set logsAffected = 123 %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {{ macro.heading(title, caption) }}

      {% include "schemes/_answers.njk" %}
      {% if updateAnswers %}
        {{ govukRadios({
          decorate: ["schemes", scheme.id, "correction"],
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m",
              html: "Which logs do you want to update?"
            }
          },
          items: [{
            text: "All logs",
            value: "true",
            hint: {
              text: logsAffected + " incomplete and submitted logs for the current collection period."
            }
          }, {
            text: "Only logs for tenancies starting after a certain date",
            value: "false",
            conditional: {
              html: govukDateInput({
                decorate: ["schemes", scheme.id, "change-date"],
                fieldset: {
                  legend: {
                    classes: "govuk-fieldset__legend--s",
                    text: "When does the tenancy start?"
                  }
                },
                hint: {
                  text: "For example, 12 11 2020."
                },
                items: data.questions["date-full"]
              })
            }
          }]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Update service"
          }) }}
          <a class="govuk-link" href="{{ userOrganisationPath }}/schemes/">Cancel</a>
        </div>
      {% else %}
        <div class="govuk-button-group">
          {{ govukButton(decorate({
            text: "Publish service",
            value: "published"
          }, ["schemes", scheme.id, "status"])) }}

          {{ govukButton(decorate({
            classes: "govuk-button--secondary",
            text: "Save as draft",
            value: "draft"
          }, ["schemes", scheme.id, "status"])) }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
