{% extends "layouts/form.njk" %}

{% set title = "Check your answers before submitting" %}
{% set backLink = 'javascript:history.go(-1);' %}
{% set formAction = schemePath + "?success=submitted" %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {{ macro.heading(title, caption) }}

      {% include "schemes/_scheme-summary.njk" %}

      {{ govukWarningText({
        text: "You won’t be able to change some of these answers after you’ve saved them.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton(decorate({
        text: "Save and continue",
        value: "true"
      }, ["schemes", scheme.id, "completed"])) }}
    </div>
  </div>
{% endblock %}
