{% extends "layouts/question.njk" %}

{% set title = "When does this service operate?" %}
{% if scheme["start-date"] %}
  {# Editing an existing scheme #}
  {% set caption = scheme.name %}
  {% set buttonText = "Save changes" %}
  {% set formAction = schemePath %}
{% endif %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {{ govukDateInput({
    decorate: ["schemes", scheme.id, "start-date"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Start date"
      }
    },
    hint: {
      text: "For example, 12 11 2020."
    },
    items: data.questions["date-full"]
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "end-date-known"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Does this service have an end date?"
      }
    },
    items: [{
      text: "Yes",
      value: "true",
      conditional: {
        html: govukDateInput({
          decorate: ["schemes", scheme.id, "end-date"],
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--s",
              text: "What is the end date?"
            }
          },
          hint: {
            text: "For example, 12 11 2020."
          },
          items: data.questions["date-full"]
        })
      }
    }, {
      text: "No",
      value: "false"
    }]
  }) }}
{% endblock %}
