{% extends "layouts/form.njk" %}

{% set title = "Are you sure you want to delete this location?" %}
{% set backLink = locationsPath %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title, location.address) }}

      <p>Any logs that have selected this location will lose answers to questions and be marked as incomplete.</p>
      <p>Any logs that have been submitted in previous collection windows will not be affected.</p>

      {{ govukButton({
        classes: "govuk-button--warning",
        text: "I’m sure – delete this location"
      }) }}

      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ locationsPath }}">No - I’ve changed my mind</a></p>
    </div>
  </div>
{% endblock %}
