{% extends "layouts/question.njk" %}

{% set required = true %}

{% if scheme.name %}
  {# Editing an existing scheme #}
  {% set caption = scheme.name %}
  {% set title = "Scheme details" %}
  {% set buttonText = "Continue" %}
  {% set formAction = schemePath + "/check-updated-answers" %}
  {% set hasAnsweredQuestion = true %}
{% else %}
  {% set title = "Create a new supported housing scheme" %}
{% endif %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {{ govukInput({
    decorate: ["schemes", scheme.id, "name"],
    formGroup: {
      classes: "govuk-!-margin-bottom-4"
    },
    label: {
      classes: "govuk-label--m",
      text: "Scheme name"
    },
    hint: {
      text: "This is how you’ll refer to this supported housing scheme within your organisation. For example, the name could relate to the address or location. You’ll be able to see the client group when selecting it."
    },
    spellcheck: false
  }) }}

  {{ govukCheckboxes({
    decorate: ["schemes", scheme.id, "confidential"],
    items: [{
      value: "true",
      text: "This scheme contains confidential information"
    }]
  }) }}

  {% if isAdmin %}
    {# Ideally show radio options if number of organisations is less than 10 #}
    {{ appAutocomplete(decorate({
      label: {
        classes: "govuk-label--m",
        html: "Which organisation owns the housing stock for this scheme?"
      },
      allowEmpty: true,
      showNoOptionsFound: true,
      items: owners | optionItems
    }, ["schemes", scheme.id, "ownerId"])) }}
  {% else %}
    {{ govukInput({
      decorate: ["schemes", scheme.id, "ownerId"],
      value: scheme.ownerId,
      type: "hidden"
    }) }}
  {% endif %}

  {# Ideally show radio options if number of organisations is less than 10 #}
  {{ appAutocomplete(decorate({
    label: {
      classes: "govuk-label--m",
      html: "Which organisation manages this scheme?"
    },
    allowEmpty: true,
    showNoOptionsFound: true,
    items: agents | optionItems
  }, ["schemes", scheme.id, "agentId"])) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "type"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "What is this type of scheme?"
      }
    },
    items: data.questions["type-of-scheme"]
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "registered-home"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Is this scheme registered under the Care Standards Act 2000?"
      }
    },
    items: data.questions["registered-home"]
  }) }}
{% endblock %}
