{% extends "layouts/question.njk" %}

{% set title = "Service details" %}
{% if scheme.name %}
  {# Editing an existing scheme #}
  {% set caption = scheme.name %}
  {% set buttonText = "Save changes" %}
  {% set formAction = schemePath %}
{% endif %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {{ govukInput({
    decorate: ["schemes", scheme.id, "organisationId"],
    value: organisationId,
    type: "hidden"
  }) }}

  {{ govukInput({
    decorate: ["schemes", scheme.id, "name"],
    label: {
      classes: "govuk-label--m",
      text: "Service name"
    },
    spellcheck: false
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "agentId"],
    fieldset: {
      legend: {
        classes: "govuk-label--m",
        text: "Which organisation manages this service?"
      }
    },
    allowEmpty: true,
    showNoOptionsFound: true,
    items: managedOrganisations | optionItems
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "type"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Type of service"
      }
    },
    items: data.questions["type-of-scheme"]
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "confidential"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Does this service contain confidential information?"
      }
    },
    items: data.questions["yes-no"]
  }) }}
{% endblock %}
