{% extends "layouts/base.njk" %}

{% import "macros.njk" as macro %}

{% set title = organisation.name if isAdmin else "Your organisation" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/organisations",
      text: "Organisations"
    }, {
      href: organisationPath,
      text: organisation.name
    }, {
      text: "Schemes"
    }]
  }) if isAdmin and activeSection != "users" }}
{% endblock %}

{% block content %}
  {{ macro.heading(title) }}

  {{ macro.organisationNavigation(organisationPath, "Schemes", isOwningOrg) }}

  {{ govukButton({
    href: "/schemes/new",
    text: "New supported housing scheme"
  }) }}

  {% set schemeRows = [] %}
  {% for scheme in results %}
    {% set schemePath = "/schemes/" + scheme.id %}
    {% set row = schemeRows.push([{
        html: macro.entityHtml(scheme.name, schemePath, scheme.postcode or scheme["local-authority"])
      }, {
        html: scheme["client-groups"] | textFromInputValue(data.questions["client-groups"]) | replace(",", "<br>")
      }, {
        html: (scheme["start-date"] | govukDate) + (" to <br>" + (scheme["end-date"] | govukDate) if scheme["end-date"])
      }])
    %}
  {% endfor %}

  {% if schemes.length %}
    {% call appTableGroup({
      labelledby: "schemes"
    }) %}
      {{ govukTable({
        firstCellIsHeader: true,
        head: [{
          text: "Name"
        }, {
          text: "Client groups"
        }, {
          text: "Open from"
        }],
        rows: schemeRows
      }) }}
    {% endcall %}
    {{ appPagination(pages(page, limit, schemes.length)) }}
  {% else %}
    <p class="govuk-body">No supported housing schemes have been created yet.</p>
  {% endif %}
{% endblock %}
