{% extends "layouts/base.njk" %}

{% import "macros.njk" as macro %}
{% from "macros.njk" import adminNavigation with context %}

{% set title = "Supported services" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/organisations",
      text: "Organisations"
    }, {
      href: organisationPath,
      text: organisation.name
    }, {
      text: title
    }]
  }) if isAdmin }}
{% endblock %}

{% block content %}
  {{ adminNavigation(title) if isAdmin else macro.heading(title) }}

  {{ govukButton({
    href: "/schemes/new",
    text: "Create a new supported service"
  }) }}

  {{ appSearch({
    decorate: ["logs", log.id, section.id, "scheme-query"],
    classes: "govuk-!-margin-bottom-4",
    label: {
      classes: "govuk-!-margin-bottom-2",
      text: "Search by service name or postcode"
    }
  }) }}

  {% set schemeRows = [] %}
  {% for scheme in results %}
    {% set schemePath = "/schemes/" + scheme.id %}
    {% set schemeLocation %}
      {% if scheme.postcodes | length > 1 %}
        {{ scheme.postcodes | length }} properties
      {% else %}
        {{ scheme.postcodes | first }}
      {% endif %}
    {% endset %}
    {% set row = schemeRows.push([{
        html: macro.entityHtml(scheme.name, schemePath, schemeLocation)
      }, {
        html: organisations[scheme.agentId].name
      }, {
        html: (scheme["start-date"] | govukDate) + (" to <br>" + (scheme["end-date"] | govukDate) if scheme["end-date"])
      }])
    %}
  {% endfor %}

  {% set captionHtml %}
    <span class="govuk-!-margin-right-4">
      <b>56</b> services found of <b>{{ schemes.length }}</b> total services
    </span>
  {% endset %}

  {% if schemes | length > 0 %}
    {% call appFigure ({
      id: "services",
      caption: {
        html: captionHtml
      }
    }) %}
      {% call appTableGroup({
        labelledby: "services"
      }) %}
        {{ govukTable({
          firstCellIsHeader: true,
          head: [{
            text: "Name"
          }, {
            text: "Managing agent"
          }, {
            text: "Open from"
          }],
          rows: schemeRows
        }) }}
      {% endcall %}
      {{ appPagination(pages(page, limit, schemes.length)) }}
    {% endcall %}
  {% else %}
    <p class="govuk-body">No supported housing services have been created yet.</p>
  {% endif %}
{% endblock %}
