{% extends "layouts/question.njk" %}

{% set title = "What is the intended length of stay?" %}
{% if scheme["intended-stay"] %}
  {# Editing an existing scheme #}
  {% set caption = scheme.name %}
  {% set buttonText = "Save changes" %}
  {% set formAction = schemePath %}
{% endif %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.questions["intended-stay"]
  }, ["schemes", scheme.id, "intended-stay"])) }}
{% endblock %}
