{% extends "layouts/question.njk" %}

{% set formAction = schemePath %}
{% set caption = scheme.name %}
{% set required = true %}

{% if scheme.locations[itemId] %}
  {# Editing an existing scheme #}
  {% set title = "Location details for " + scheme.locations[itemId].address %}
  {% set buttonText = "Continue" %}
  {% set formAction = schemePath + "/update-your-answers" %}
  {% set hasAnsweredQuestion = true %}
{% else %}
  {% set title = "Add a location to this service" %}
{% endif %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {#
    Postcode can only be edited prior to the scheme being saved.
    Once the scheme has been saved, only admins can change postcode.
  #}
  {{ govukInput({
    decorate: ["schemes", scheme.id, "locations", itemId, "postcode"],
    classes: "govuk-input--width-5",
    label: {
      classes: "govuk-label--m",
      text: "Postcode"
    },
    hint: {
      text: "For example, SW1P 4DF."
    }
  }) if scheme.draft or isAdmin }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "locations", itemId, "type-of-unit"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "What is the most common type of unit at this location?"
      }
    },
    items: data.questions["type-of-unit"].supported
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "locations", itemId, "type-of-building"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "What is the most common type of building at this location?"
      }
    },
    items: data.questions["type-of-building"]
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "locations", itemId, "is-adapted"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Are the majority of units in this location built or adapted to wheelchair-user standards?"
      }
    },
    hint: {
      text: "This includes stairlifts, ramps, level-access showers or grab rails"
    },
    items: data.questions["yes-no"]
  }) }}

  {% if not scheme.locations[itemId] %}
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    {{ govukRadios({
      decorate: "add-another-location",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--m",
          text: "Do you want to add another location?"
        }
      },
      items: data.questions["yes-no"]
    }) }}

    {% set thisInt = itemId | replace("l", "") | int %}
    {{ govukInput({
      decorate: "next-item-id",
      value: "l" + (thisInt + 1),
      type: "hidden"
    }) }}
  {% endif %}
{% endblock %}
