{% extends "layouts/question.njk" %}

{% set caption = scheme.name %}
{% set required = true %}

{% if scheme.locations[itemId] %}
  {# Editing an existing location #}
  {% set title = "Location details for " + scheme.locations[itemId].postcode %}
  {% set buttonText = "Continue" %}
  {% set formAction = schemePath + "/location/" + itemId + "/update" %}
  {% set hasAnsweredQuestion = true %}
{% else %}
  {% set title = "Add a location to this scheme" %}
  {% set formAction = schemePath %}
{% endif %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {#
    Postcode can only be edited prior to the scheme being saved.
    Once the scheme has been saved, only admins can change postcode.
  #}
  {{ govukInput({
    decorate: ["schemes", scheme.id, "locations", itemId, "postcode"],
    classes: "govuk-input--width-5",
    label: {
      classes: "govuk-label--m",
      text: "Postcode"
    },
    hint: {
      text: "For example, SW1P 4DF."
    }
  }) if scheme.draft or isAdmin }}

  {{ govukInput({
    decorate: ["schemes", scheme.id, "locations", itemId, "name"],
    label: {
      classes: "govuk-label--m",
      text: "Name (optional)"
    },
    hint: {
      text: "This is how you refer to this location within your organisation"
    }
  }) }}

  {{ govukInput({
    decorate: ["schemes", scheme.id, "locations", itemId, "units"],
    classes: "govuk-input--width-2",
    hint: {
      text: "A unit can be a bedroom in a shared house or flat, or a house with 4 bedrooms. Do not include bedrooms used for wardens, managers, volunteers or sleep-in staff."
    },
    label: {
      classes: "govuk-label--m",
      text: "Total number of units at this location"
    },
    inputmode: "numeric",
    pattern: "[0-9]*",
    spellcheck: false
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "locations", itemId, "type-of-unit"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "What is the most common type of unit at this location?"
      }
    },
    items: data.questions["type-of-unit"].supported
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "locations", itemId, "is-adapted"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Are the majority of units in this location built or adapted to wheelchair-user standards?"
      }
    },
    items: data.questions.adaptation
  }) }}

  {{ govukDateInput({
    decorate: ["schemes", scheme.id, "locations", itemId, "start-date"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "When did the first property in this location become available under this scheme?"
      }
    },
    items: data.questions["date-full"]
  }) }}

  {% if not scheme.locations[itemId] %}
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    {{ govukRadios({
      decorate: "add-another-location",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--m",
          text: "Do you want to add another location?"
        }
      },
      items: data.questions["yes-no"]
    }) }}

    {% set thisInt = itemId | replace("l", "") | int %}
    {{ govukInput({
      decorate: "next-item-id",
      value: "l" + (thisInt + 1),
      type: "hidden"
    }) }}
  {% endif %}
{% endblock %}
