{% extends "schemes/_scheme-layout.njk" %}

{% set section = "locations" %}

{% block sectionContent %}
  {{ govukButton({
    classes: "govuk-button--secondary",
    text: "Add another location" if locationsCount > 1 else "Add a location",
    href: schemePath + "/location/new"
  }) if not scheme.deactivated }}

  {% if locationsCount > 0 %}
    {{ appSearch({
      classes: "govuk-!-margin-bottom-4",
      label: {
        text: "Search by location code or postcode"
      }
    }) }}

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    {% set locations = results.page %}
    {% include "schemes/_scheme-locations.njk" %}

    {{ govukPagination(pagination) }}
    {{ macro.results(results) }}
  {% endif %}
{% endblock %}
