{% extends "layouts/question.njk" %}

{% set title = "Do you know what local authority this scheme operates in?" %}
{% if scheme["local-authority-known"] %}
  {# Editing an existing scheme #}
  {% set caption = scheme.name %}
  {# {% set buttonText = "Save changes" %}
  {% set formAction = schemePath %} #}
{% endif %}

{% block question %}
  {{ govukRadios({
    decorate: ["schemes", scheme.id, "local-authority-known"],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: [{
      text: "Yes",
      value: "true",
      conditional: {
        html: appAutocomplete({
          decorate: ["schemes", scheme.id, "local-authority"],
          label: {
            text: "Select a local authority"
          },
          items: data.questions["local-authorities"]
        })
      }
    }, {
      text: "No",
      value: "false"
    }]
  })) }}
{% endblock %}
