{% extends "layouts/question.njk" %}

{% set required = true %}

{# Editing an existing scheme, with limited editing options #}
{% set caption = scheme.name %}
{% set title = "Scheme details" %}
{% set buttonText = "Continue" %}
{% set formAction = schemePath %}
{% set hasAnsweredQuestion = true %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {{ govukInput({
    decorate: ["schemes", scheme.id, "name"],
    label: {
      classes: "govuk-label--m",
      html: "Scheme name"
    },
    hint: {
      text: "This is how you refer to this supported housing scheme within your organisation. For example, the name could relate to the address or location. You’ll be able to see the client group when selecting it."
    },
    spellcheck: false
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "confidential"],
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        html: "Scheme contains confidential information"
      }
    },
    items: data.questions["yes-no"]
  }) }}
{% endblock %}
