{% extends "layouts/question.njk" %}

{% set title = "Do you know the property’s postcode?" %}
{% if scheme.postcode %}
  {# Editing an existing scheme #}
  {% set caption = scheme.name %}
  {% set buttonText = "Save changes" %}
  {% set formAction = schemePath %}
{% endif %}

{% block question %}
  {% set postcodeHtml %}
    {{ govukInput({
      decorate: ["schemes", scheme.id, "postcode"],
      label: {
        text: "Postcode"
      },
      classes: "govuk-input--width-5"
    }) }}
  {% endset %}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "postcode-known"],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: [{
      value: "true",
      text: "Yes",
      conditional: {
        html: postcodeHtml
      }
    }, {
      value: "false",
      text: "No"
    }]
  }) }}
{% endblock %}
