{% extends "layouts/question.njk" %}

{% set title = "Where is this scheme located?" %}
{% if scheme.postcode %}
  {# Editing an existing scheme #}
  {% set caption = scheme.name %}
  {% set buttonText = "Save changes" %}
  {% set formAction = schemePath %}
{% endif %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {% macro postcodeHtml(value, index) %}
    <div class="app-input-group">
      {{ govukInput({
        formGroup: {
          classes: "govuk-!-margin-bottom-2"
        },
        label: {
          text: "Postcode " + index
        },
        classes: "govuk-input--width-5",
        value: value
      }) }}
      <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> postcode {{ index }}</span></a>
    </div>
  {% endmacro %}

  {% for postcode in scheme.postcodes %}
    {{ postcodeHtml(postcode, loop.index) }}
  {% endfor %}
  {{ govukButton({
    classes: "govuk-button--secondary",
    text: "Add another postcode"
  }) }}
{% endblock %}
