{% extends "layouts/question.njk" %}

{% set title = "What client group is this service open to?" %}
{% set caption = scheme.name %}

{% if scheme["primary-client-group"] %}
  {# Editing an existing scheme #}
  {% set buttonText = "Continue" %}
  {% set formAction = schemePath + "/update-your-answers" %}
  {% set hasAnsweredQuestion = true %}
{% endif %}

{% block question %}
  {{ govukRadios({
    decorate: ["schemes", scheme.id, "primary-client-group"],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.questions["client-groups"]
  }) }}
{% endblock %}
