{% extends "layouts/question.njk" %}

{% set title = "What client group is this scheme intended for?" %}
{% set caption = scheme.name %}
{% set required = true %}

{% if scheme["primary-client-group"] %}
  {# Editing an existing scheme #}
  {% set buttonText = "Continue" %}
  {% set formAction = schemePath + "/check-updated-answers" %}
  {% set hasAnsweredQuestion = true %}
{% endif %}

{% block question %}
  {{ govukRadios({
    decorate: ["schemes", scheme.id, "primary-client-group"],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.questions["client-groups"]
  }) }}
{% endblock %}
