{% extends "layouts/question.njk" %}

{% set title = "What client group is this service for?" %}
{% if scheme["primary-client-group"] %}
  {# Editing an existing scheme #}
  {% set caption = scheme.name %}
  {% set formAction = schemePath %}
  {% set hasAnsweredQuestion = true %}
  {% set buttonText = "Continue" %}
{% endif %}

{% block question %}
  {{ govukRadios({
    decorate: ["schemes", scheme.id, "primary-client-group"],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.questions["client-groups"]
  }) }}
{% endblock %}
