{% extends "layouts/form.njk" %}

{% set title = "Are you sure you want to reactivate this scheme?" %}
{% set backLink = schemePath %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title, scheme.name) }}

      <p>Reactivating this scheme will enable data providers in all organisations you work with to submit logs for this scheme.</p>

      {{ govukButton({
        text: "I’m sure – reactivate this scheme"
      }) }}

      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ schemePath }}">No - I’ve changed my mind</a></p>
    </div>
  </div>
{% endblock %}
