{% extends "layouts/form.njk" %}

{% import "macros.njk" as macro %}

{% set title = scheme.name %}
{% set formAction = schemePath %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/organisations",
      text: "Organisations"
    }, {
      href: organisationPath,
      text: organisation.name
    }, {
      href: organisationPath + "/schemes",
      text: "Supported housing schemes"
    }, {
      text: title
    }] if isAdmin else [{
      href: organisationPath,
      text: "Your organisation"
    }, {
      href: organisationPath + "/schemes",
      text: "Supported housing schemes"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block form %}
  {{ govukNotificationBanner({
    text: macro.notificationBannerText(query.success),
    type: "success"
  }) if query.success }}

  {{ macro.heading(title) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% include "schemes/_scheme-summary.njk" %}

      {# TODO: Decide on policy around schemes/logs #}
      {{ govukDetails({
        summaryText: "Why can’t I change some of these answers?",
        html: "We ask different questions in logs based on the answers you give us."
      }) }}

      {{ govukButton({
        text: "Save changes"
      }) }}
    </div>
  </div>
{% endblock %}
