{% extends "layouts/form.njk" %}

{% import "macros.njk" as macro %}

{% set title = scheme.name %}
{% set formAction = schemePath %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/organisations",
      text: "Organisations"
    }, {
      href: organisationPath,
      text: organisation.name
    }, {
      href: organisationPath + "/schemes",
      text: "Supported services"
    }, {
      text: title
    }] if isAdmin else [{
      href: organisationPath,
      text: organisation.name
    }, {
      href: organisationPath + "/schemes",
      text: "Supported services"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block form %}
  {{ govukNotificationBanner({
    text: macro.notificationBannerText(query.success),
    type: "success"
  }) if query.success }}

  {{ macro.heading(title) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% include "schemes/_answers.njk" %}

      {{ govukButton({
        text: "Save changes"
      }) }}
    </div>
  </div>
{% endblock %}
