{% extends "schemes/_scheme-layout.njk" %}

{% set section = "scheme" %}

{% block sectionContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% include "schemes/_scheme-answers.njk" %}
    </div>
  </div>
{% endblock %}
