{% extends "layouts/question.njk" %}

{% set title = "Does this service provide for another client group?" %}
{% set caption = scheme.name %}
{% set required = true %}

{% if scheme["secondary-client-group"] %}
  {# Editing an existing scheme #}
  {% set buttonText = "Continue" %}
  {% set formAction = schemePath + "/update-your-answers" %}
  {% set hasAnsweredQuestion = true %}
{% endif %}

{% block question %}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "has-secondary-client-group"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--l",
        html: macro.fieldsetHeading(title, caption)
      }
    },
    items: [{
      value: "false",
      text: "No"
    }, {
      value: "true",
      text: "Yes",
      conditional: {
        html: govukRadios({
          decorate: ["schemes", scheme.id, "secondary-client-group"],
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m",
              text: "What is the other client group?"
            }
          },
          items: data.questions["client-groups"] | rejectwhere("value", scheme["primary-client-group"])
        })
      }
    }]
  }) }}
{% endblock %}
