{% extends "layouts/question.njk" %}

{% set title = "What is the status of this service?" %}
{% set caption = scheme.name %}

{% if scheme["primary-client-group"] %}
  {# Editing an existing scheme #}
  {% set buttonText = "Continue" %}
  {% set formAction = schemePath + "/update-your-answers" %}
  {% set hasAnsweredQuestion = true %}
{% endif %}

{% block question %}
  {{ govukRadios({
    decorate: ["schemes", scheme.id, "status"],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: [{
      "text": "Active",
      "value": "active"
    }, {
      "text": "Inactive",
      "value": "inactive"
    }]
  }) }}
{% endblock %}
