{% extends "layouts/question.njk" %}

{% set title = "What support does this scheme provide?" %}
{% set caption = scheme.name %}
{% set required = true %}

{% if scheme["type-of-support"] %}
  {# Editing an existing scheme #}
  {% set buttonText = "Continue" %}
  {% set formAction = schemePath + "/check-updated-answers" %}
  {% set hasAnsweredQuestion = true %}
{% endif %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "type-of-support"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Level of support given"
      }
    },
    items: data.questions["type-of-support"]
  }) }}

  {{ govukRadios({
    decorate: ["schemes", scheme.id, "intended-stay"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Intended length of stay"
      }
    },
    items: data.questions["intended-stay"]
  }) }}
{% endblock %}
