.app-add-another {
  &__item {
    @include govuk-responsive-margin(6, "bottom");
    border-left: $govuk-border-width-narrow solid $govuk-border-colour;
    margin: 0;
    margin-top: govuk-spacing(6);
    padding: 0;
    padding-left: govuk-spacing(4);
    position: relative;

    &:first-of-type {
      margin-top: 0;
    }

    .govuk-form-group:last-child {
      margin-bottom: govuk-spacing(1);
    }
  }

  &__title {
    @include govuk-font(27, $weight: bold);
    float: left;
    padding: 4px 100px 4px 0;
    width: 100%;

    & + .govuk-form-group {
      clear: left;
    }
  }

  &__remove-button {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  &__add-button {
    display: block;
  }
}

.app-add-another__heading:focus {
  background-color: $govuk-focus-colour;
  color: $govuk-focus-text-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  outline: none;
}
