{{ govukSummaryList({
  rows: [{
    key: {
      text: "Name"
    },
    value: {
      text: organisation.name
    },
    actions: actionLinks({
      href: thisOrganisationPath + "/details",
      visuallyHiddenText: "name"
    }) if isAdmin or isCoordinator
  }, {
    key: {
      text: "Address"
    },
    value: {
      html: [organisation.address.line1, organisation.address.line2, organisation.address.postalCode].join("\n") | nl2br
    },
    actions: actionLinks({
      href: thisOrganisationPath + "/details",
      visuallyHiddenText: "address"
    }) if isAdmin or isCoordinator
  }, {
    key: {
      text: "Phone number"
    },
    value: {
      text: organisation.tel
    },
    actions: actionLinks({
      href: thisOrganisationPath + "/details",
      visuallyHiddenText: "telephone number"
    }) if isAdmin or isCoordinator
  }, {
    key: {
      text: "Type of provider"
    },
    value: {
      text: organisation.type
    },
    actions: actionLinks({
      href: thisOrganisationPath + "/details",
      visuallyHiddenText: "type"
    }) if isAdmin
  }, {
    key: {
      text: "Registration number"
    },
    value: {
      text: organisation.registration
    },
    actions: actionLinks({
      href: thisOrganisationPath + "/details",
      visuallyHiddenText: "type"
    }) if isAdmin
  }, {
    key: {
      text: "Data sharing"
    },
    value: {
      html: "Data sharing agreement accepted" if organisation.acceptedDSA else "Data sharing agreement not yet accepted"
    },
    actions: actionLinks({
      text: "View agreement",
      href: thisOrganisationPath + "/data-sharing-agreement"
    })
  }]
}) }}
