{% extends "layouts/form.njk" %}

{% import "macros.njk" as macro %}

{% set title = "Organisations" %}

{% block form %}
  {% for type, text in messages %}
    {{ govukNotificationBanner({ text: text, type: type }) }}
  {% endfor %}

  {{ macro.heading(title) }}

  <div class="govuk-button-group">
    {{ govukButton({
      href: "#",
      text: "Create a new organisation"
    }) }}
    <a class="govuk-link" href="#">Merge organisations</a>
  </div>

  {{ appSearch({
    classes: "govuk-!-margin-bottom-4",
    label: {
      classes: "govuk-!-margin-bottom-2",
      text: "Search by organisation name"
    },
    id: "q",
    name: "q",
    value: q
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  {%- set organisationRows = [] -%}
  {% for organisation in results %}
    {% set row = organisationRows.push([{
        html: "<a href=\"/organisations/" + organisation.id + "/logs\">" + organisation.name + "</a>" + ("<br><span class=\"govuk-!-font-weight-regular app-!-colour-muted\">Deactivated</span>" if organisation.deactivated)
      }, {
        text: organisation.id
      }, {
        text: organisation.type
      }])
    %}
  {% endfor %}

  {% if results.length %}
    {% call appTableGroup({ ariaLabel: "organisations" }) %}
      {{ govukTable({
        caption: macro.tableCaption("organisations", pagination.results.count, q) | safe,
        captionClasses: "govuk-table__caption--m govuk-!-font-size-19 govuk-!-font-weight-regular",
        firstCellIsHeader: true,
        head: [{
          classes: "govuk-!-width-one-half",
          text: "Name"
        }, {
          classes: "govuk-!-width-one-quarter",
          text: "Registration number"
        }, {
          classes: "govuk-!-width-one-quarter",
          text: "Type"
        }],
        rows: organisationRows
      }) }}
    {% endcall %}

    {{ appPagination(pagination) }}
  {% else %}
    <p class="govuk-body">
      <strong>No organisations found</strong>
    </p>
  {% endif %}
{% endblock %}
