{% extends "layouts/question.njk" %}

{% set perspective = "this" if isAdmin else "your" %}
{% set title = "Does " + perspective + " organisation own housing stock?" %}
{% set caption = organisation.name %}
{% set required = true %}

{% if organisation.isOwner %}
  {# Editing an existing organisation #}
  {% set buttonText = "Continue" %}
  {% set formAction = organisationPath + "/check-updated-answers" %}
{% endif %}

{% block question %}
  {{ govukRadios({
    decorate: ["organisations", organisation.id, "isOwner"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--l",
        html: macro.fieldsetHeading(title, caption)
      }
    },
    items: data.questions["yes-no"]
  }) }}
{% endblock %}
