{% extends "layouts/question.njk" %}

{% set title = "Does this organisation manage all of its own housing stock?" %}
{% set caption = organisation.name %}
{% set required = true %}

{% if organisation.isOwnAgent %}
  {# Editing an existing organisation #}
  {% set buttonText = "Continue" %}
  {% set formAction = organisationPath + "/check-updated-answers" %}
{% endif %}

{% block question %}
  {{ govukRadios({
    decorate: ["organisations", organisation.id, "isOwnAgent"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--l",
        html: macro.fieldsetHeading(title, caption)
      }
    },
    items: [{
      text: "Yes – manages all its own housing stock",
      value: "true"
    }, {
      text: "No – some or all of its housing stock is managed by other organisations",
      value: "false"
    }]
  }) }}
{% endblock %}
