{% extends "layouts/form.njk" %}

{% set title = "Your managing agents" %}
{% set caption = thisOrganisation.name %}
{% set isGlobalView = isAdmin and path.startsWith("/logs") %}
{% set typeName = type | capitalize %}

{% block form %}
  {% for type, text in messages %}
    {{ govukNotificationBanner({ text: text, type: type }) }}
  {% endfor %}

  {% if isGlobalView %}
    {{ macro.heading(title) }}
  {% else %}
    {{ adminNavigation(title) if isAdmin else macro.heading(title, caption) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <p>A managing agent can submit logs for your organisation.</p>

      {{ govukButton({
        text: "Add a managing agent",
        href: "add-managing-agent"
      }) }}

      {{ appSearch({
        classes: "govuk-!-margin-bottom-4",
        label: {
          text: "Search by managing agent name"
        },
        id: "q",
        name: "q",
        value: q
      }) }}

      {{ govukTable({
          rows: [
            [
              {
                text: "City of Bradford"
              },
              {
                html: "<a class=\"govuk-link govuk-link--no-visited-state\" href=\"#\">Remove</a>"
              }
            ],
            [
              {
                text: "Blenheim Housing"
              },
              {
                html: "<a class=\"govuk-link govuk-link--no-visited-state\" href=\"#\">Remove</a>"
              }
            ],
            [
              {
                text: "Turning Point"
              },
              {
                html: "<a class=\"govuk-link govuk-link--no-visited-state\" href=\"#\">Remove</a>"
              }
            ]
          ]
      }) }}

    </div>
  </div>

{% endblock %}
