{% extends "layouts/base.njk" %}

{% import "macros.njk" as macro %}
{% from "macros.njk" import adminNavigation with context %}

{% set title = "About this organisation" if isAdmin else "About your organisation" %}
{% set caption = thisOrganisation.name %}

{% block content %}
  {{ govukNotificationBanner({
    text: organisation.name + " has been " + query.success + ".",
    type: "success"
  }) if query.success }}

  {{ adminNavigation(title) if isAdmin else macro.heading(title, caption) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if organisation.deactivated %}
        <p class="govuk-button-group">
          <span class="app-!-colour-muted govuk-!-margin-right-2">This organisation has been deactivated.</span>
          {% if isAdmin %}
            <a class="govuk-link" href="{{ thisOrganisationPath }}/reactivate">Reactivate organisation</a>
          {% endif %}
        </p>
      {% elif isAdmin %}
        <p class="govuk-button-group">
          <a class="govuk-link" href="{{ thisOrganisationPath }}/deactivate">Deactivate organisation</a>
        </p>
      {% endif %}

      <h3 class="govuk-heading-m">Details</h3>
      {% include "organisations/_answers-details.njk" %}

      <h3 class="govuk-heading-m govuk-!-margin-top-8">Housing stock ownership and management</h3>
      {% include "organisations/_answers-relationships.njk" %}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
      <div class="app-card">
        {{ macro.collectionResouces() }}
      </div>
    </div>
  </div>
{% endblock %}
