{% extends "layouts/question.njk" %}

{% set title = "What rent periods does your organisation use?" %}
{% set caption = thisOrganisation.name %}
{% set buttonText = "Save changes" %}
{% set required = true %}

{% if organisation["rent-periods"] %}
  {# Editing an existing organisation #}
  {% set buttonText = "Continue" %}
  {% set formAction = organisationPath + "/check-updated-answers" %}
{% endif %}

{% block question %}
  {{ govukCheckboxes({
    decorate: ["organisations", thisOrganisation.id, "rent-periods"],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.rentPeriods
  }) }}
{% endblock %}
