{% extends "layouts/check-answers.njk" %}

{% block checkAnswers %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Tenant’s housing situation before this letting"
      },
      value: {
        text: log[section.id]["previous-housing-situation"] | textFromInputValue(data.questions["housing-situation"])
      },
      actions: {
        items: [{
          href: sectionPath + "/previous-housing-situation?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "previous housing situation"
        }]
      }
    }, {
      key: {
        text: "Homelessness before this letting"
      },
      value: {
        text: log[section.id]["previous-homelessness"] | textFromInputValue(data.questions["homelessness"])
      },
      actions: {
        items: [{
          href: sectionPath + "/previous-homelessness?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "if previously homelessness"
        }]
      }
    }, {
      key: {
        text: "Main reason for leaving"
      },
      value: {
        text: log[section.id]["reason-for-leaving"] | textFromInputValue(data.questions["reason-for-leaving"])
      },
      actions: {
        items: [{
          href: sectionPath + "/reason-for-leaving?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "main reason for leaving"
        }]
      }
    }, {
      key: {
        text: "Left due to benefit cap or removal of the spare room subsidy"
      },
      value: {
        text: log[section.id]["reason-for-leaving-benefit-cap"] | textFromInputValue(data.questions["reason-for-leaving-benefit-cap"])
      },
      actions: {
        items: [{
          href: sectionPath + "/reason-for-leaving?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "other reason for leaving"
        }]
      }
    }]
  }) }}
{% endblock %}
