{% extends "layouts/question.njk" %}

{% set title = "Was the household given ‘reasonable preference’ by the local authority?" %}
{% set questionId = "given-reasonable-preference" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["yes-no-unknown"]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
