{% extends "layouts/question.njk" %}

{% set title = "Was the household given ‘reasonable preference’ by the local authority?" %}
{% set questionId = "given-reasonable-preference" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    hint: {
      text: "Households may be given ‘reasonable preference’ for social housing, also known as ‘priority need’, by the local authority."
    },
    items: data.questions["yes-no-unknown"]
  }) }}
{% endblock %}
