{% extends "layouts/question.njk" %}

{% set title = "Do you know the local authority of the household’s last settled home?" %}
{% set questionId = "local-authority-known" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: [{
      text: "Yes",
      value: "true",
      conditional: {
        html: appAutocomplete({
          decorate: ["logs", log.id, section.id, "local-authority"],
          label: {
            text: "Select a local authority"
          },
          hint: {
            text: "Select ‘Northern Ireland’, ‘Scotland’, ‘Wales’ or ‘Outside the UK’ if the household’s last settled home was outside England."
          },
          items: data.questions["local-authorities"]
        })
      }
    }, {
      text: "No",
      value: "false"
    }]
  }) }}
{% endblock %}
