{% extends "layouts/question.njk" %}

{% set title = "Was anybody in the household homeless immediately before this letting?" %}
{% set questionId = "previous-homelessness" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: [{
      text: "Yes — assessed by a local authority as threatened with homelessness or homeless",
      value: "Yes — assessed by a local authority as threatened with homelessness or homeless"
    }, {
      text: "No",
      value: "No"
    }] if data.features["2022-23"].on == true else [{
      text: "No",
      value: "No"
    }, {
      text: "Assessed as homeless (or threatened with homelessness within 56 days) by a local authority and owed a homelessness duty",
      value: "Assessed as homeless (or threatened with homelessness within 56 days) by a local authority and owed a homelessness duty"
    }, {
      text: "Other homeless - not found statutorily homeless but considered homeless by landlord",
      value: "Other homeless - not found statutorily homeless but considered homeless by landlord"
    }]
  }) }}
{% endblock %}
