{% extends "layouts/question.njk" %}

{% set title = "Where was the household immediately before this letting?" %}
{% set questionId = "previous-accommodation" %}

{% block question %}
  {# Only shown for supported housing renewals #}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    hint: {
      text: "This is where the household was the night before they moved."
    },
    items: [{
      text: "Extra care housing",
      value: "Extra care housing"
    }, {
      text: "Fixed-term local authority general needs tenancy",
      value: "Fixed-term local authority general needs tenancy"
    }, {
      text: "Fixed-term private registered provider (PRP) general needs tenancy",
      value: "Fixed-term private registered provider (PRP) general needs tenancy"
    }, {
      text: "Lifetime local authority general needs tenancy",
      value: "Lifetime local authority general needs tenancy"
    }, {
      text: "Lifetime private registered provider (PRP) general needs tenancy",
      value: "Lifetime private registered provider (PRP) general needs tenancy"
    }, {
      text: "Specialist retirement housing",
      value: "Specialist retirement housing"
    }, {
      text: "Other supported housing",
      value: "Other supported housing"
    }] if data.features["2022-23"].on == true else [{
      text: "Sheltered accomodation",
      value: "Sheltered accomodation"
    }, {
      text: "Supported housing",
      value: "Supported housing"
    }]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
