{% extends "layouts/question.njk" %}

{% set title = "What is the tenant’s main reason for the household leaving their last settled home?" %}
{% set questionId = "reason-for-leaving-last-settled-home" %}

{% block question %}
  {{ govukRadios(decorate({
    formGroup: {
      classes: "app-form-group--heading-dividers"
    },
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    hint: {
      text: "The tenant’s ‘last settled home’ is their last long-standing home. For tenants who were in temporary accommodation or sleeping rough, their last settled home is where they were living previously."
    },
    items: [{
      divider: "End of previous social housing tenancy"
    }, {
      text: "End of assured shorthold tenancy (no fault)",
      value: "40"
    }, {
      text: "End of assured shorthold tenancy (eviction or tenant at fault)",
      value: "41"
    }, {
      text: "End of fixed term tenancy (no fault)",
      value: "42"
    }, {
      text: "End of fixed term tenancy (eviction or tenant at fault)",
      value: "43"
    }, {
      text: "Permanently decanted from another property owned by this landlord",
      value: "1"
    }, {
      divider: "Previous accommodation no longer available"
    }, {
      text: "Discharged from long-stay hospital or similar institution",
      value: "45"
    }, {
      text: "Discharged from prison",
      value: "44"
    }, {
      text: "Left home country as a refugee",
      value: "2"
    }, {
      text: "Loss of tied accommodation",
      value: "4"
    }, {
      divider: "Household or relationship changes"
    }, {
      text: "Asked to leave by family or friends",
      value: "9"
    }, {
      text: "Death of household member in last settled accommodation",
      value: "46"
    }, {
      text: "Relationship breakdown (non-violent) with partner",
      value: "8"
    }, {
      divider: "Location change"
    }, {
      text: "To move nearer to family, friends or school",
      value: "16"
    }, {
      text: "To move nearer to work",
      value: "17"
    }, {
      divider: "Domestic abuse and harassment"
    }, {
      text: "Domestic abuse",
      value: "7"
    }, {
      text: "Hate crime",
      value: "31"
    }, {
      text: "Racial harassment",
      value: "10"
    }, {
      text: "Other problems with neighbours",
      value: "11"
    }, {
      divider: "Financial reasons"
    }, {
      text: "Couldn’t afford fees attached to renewing the tenancy",
      value: "35"
    }, {
      text: "Couldn’t afford rent or mortgage (welfare reforms)",
      value: "37"
    }, {
      text: "Couldn’t afford rent or mortgage (employment)",
      value: "38"
    }, {
      text: "Couldn’t afford rent or mortgage (other)",
      value: "39"
    }, {
      text: "Couldn’t afford the increase in rent",
      value: "36"
    }, {
      text: "Repossession",
      value: "34"
    }, {
      divider: "Property no longer suitable"
    }, {
      text: "Property unsuitable because of overcrowding",
      value: "12"
    }, {
      text: "Property unsuitable because of ill health or disability",
      value: "13"
    }, {
      text: "Property unsuitable because of poor condition",
      value: "14"
    }, {
      text: "To move to accommodation with support",
      value: "18"
    }, {
      text: "To move to independent accommodation",
      value: "19"
    }, {
      text: "Under occupation (no incentive)",
      value: "30"
    }, {
      text: "Under occupation (offered incentive to downsize)",
      value: "29"
    }, {
      divider: "or"
    }, {
      text: "Other",
      value: "other",
      conditional: {
        html: govukInput(decorate({
          label: {
            text: "What is the reason?"
          }
        }, ["logs", log.id, section.id, "other-reason-for-leaving-last-settled-home"] ))
      }
    }, {
      text: "Don’t know",
      value: "unknown"
    }, {
      text: "Tenant prefers not to say",
      value: "prefer-not-to-say"
    }] if log["tailor-log"]["letting-renewal"] != "true" else [{
      text: "End of assured shorthold tenancy (no fault)",
      value: "40"
    }, {
      text: "End of fixed term tenancy (no fault)",
      value: "42"
    }]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
