{% extends "layouts/question.njk" %}

{% set title = "How long has the household been on the local authority waiting list for the new letting?" %}
{% set questionId = "time-on-waiting-list" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: [{
      text: "Just moved to local authority area",
      value: "1"
    } if data.features["2022-23"].on != true, {
      text: "Less than 1 year",
      value: "2"
    }, {
      text: "1 year but under 2 years",
      value: "7"
    }, {
      text: "2 years but under 3 years",
      value: "8"
    }, {
      text: "3 years but under 4 years",
      value: "9"
    }, {
      text: "4 years but under 5 years",
      value: "10"
    }, {
      text: "5 years or more",
      value: "5"
    }, {
      divider: "or"
    }, {
      text: "Don’t know",
      value: "unknown"
    }]
  }) }}
{% endblock %}
