{% extends "layouts/form.njk" %}

{% set caption = user.name %}
{% set title = "Is this user your organisation’s data protection officer?" %}
{% set buttonText = "Save changes" %}
{% set backLink = userPath %}
{% set formAction = userPath %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukRadios({
        decorate: ["users", user.id, "dpo"],
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--l",
            html: macro.fieldsetHeading(title, user.name)
          }
        },
        items: [{
          value: "true",
          text: "Yes"
        }, {
          value: "false",
          text: "No"
        }]
      }) }}

      {{ govukButton({
        text: buttonText
      }) }}
    </div>
  </div>
{% endblock %}
