{% extends "layouts/base.njk" %}

{% import "macros.njk" as macro %}
{% from "macros.njk" import adminNavigation with context %}

{% set title = "Users" %}
{% set isGlobalView = isAdmin and path.startsWith("/users") %}
{% set deactivatedUser = users | where("id", query.userId) | first %}

{% block content %}
  {{ govukNotificationBanner({
    text: macro.notificationBannerText(query.success, deactivatedUser.name),
    type: "success"
  }) if query.success }}

  {% if isGlobalView %}
    {{ macro.heading(title) }}
  {% else %}
    {{ adminNavigation(title) if isAdmin else macro.heading(title) }}
  {% endif %}

  {{ govukButton({
    href: "/users/new",
    text: "Invite user"
  }) if isAdmin or isCoordinator }}

  {% set userRows = [] %}
  {% for user in users %}
    {% set userPath = "/users/" + user.id %}
    {% set userOrganisation = data.organisations[user.organisationId].name %}
    {% set userRole = data.roles[user.role].name %}
    {% set row = userRows.push([{
        html: macro.entityHtml(user.name, userPath, user.email)
      }, {
        html: macro.entityHtml(userOrganisation, false, userRole)
      }, {
        text: macro.userLastActiveHtml(user)
      }])
    %}
  {% endfor %}

  {{ govukTable({
    firstCellIsHeader: true,
    head: [{
      classes: "govuk-!-width-one-quarter",
      text: "Name and email address"
    }, {
      classes: "govuk-!-width-one-half",
      text: "Organisation and role"
    }, {
      classes: "govuk-!-width-one-quarter",
      text: "Last logged in"
    }],
    rows: userRows
  }) }}
{% endblock %}
