{% extends "layouts/form.njk" %}

{% import "macros.njk" as macro %}
{% from "macros.njk" import adminNavigation with context %}

{% set title = "Users" %}
{% set caption = thisOrganisation.name %}
{% set isGlobalView = isAdmin and path.startsWith("/users") %}
{% set notificationUser = users | selectFromArray("id", query.userId) | first %}

{% block form %}
  {% for type, text in messages %}
    {{ govukNotificationBanner({ text: text, type: type }) }}
  {% endfor %}

  {% if isGlobalView %}
    {{ macro.heading(title) }}
  {% else %}
    {{ adminNavigation(title) if isAdmin else macro.heading(title, caption) }}
  {% endif %}

  {{ govukButton({
    href: "/users/new",
    text: "Invite user"
  }) if isAdmin or isCoordinator }}

  {{ appSearch({
    classes: "govuk-!-margin-bottom-4",
    label: {
      text: "Search by name or email address"
    }
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  {% set userRows = [] %}
  {% for user in results %}
    {% set userPath = "/users/" + user.id %}
    {% set userOrganisation = data.organisations[user.organisationId].name %}
    {% set userRole = data.roles[user.role].name %}
    {% set nameRowHtml %}
      {{ macro.entityHtml(user.name, userPath, user.email) }}
      {% if user.dpo == "true" or user["key-contact"] == "true" %}<br>{% endif %}
      {{ govukTag({
        classes: "app-tag--small govuk-tag--turquoise govuk-tag--small govuk-!-margin-top-1",
        text: "Key contact"
      }) if user.dpo == "true" }}
      {{ govukTag({
        classes: "app-tag--small govuk-tag--turquoise govuk-!-margin-top-1",
        text: "Data protection officer"
      }) if user["key-contact"] == "true" }}
    {% endset %}
    {% set row = userRows.push([{
        html: nameRowHtml
      }, {
        html: macro.entityHtml(userOrganisation, false, userRole)
      }, {
        text: macro.userLastActiveHtml(user)
      }])
    %}
  {% endfor %}

  {% if results.length %}
    {% call appTableGroup({ ariaLabel: "users" }) %}
      {{ govukTable({
        caption: macro.tableCaption("users", pagination.results.count, q) | safe,
          captionClasses: "govuk-table__caption--m govuk-!-font-size-19 govuk-!-font-weight-regular",
        firstCellIsHeader: true,
        head: [{
          text: "Name and email address"
        }, {
          text: "Organisation and role"
        }, {
          text: "Last logged in"
        }],
        rows: userRows
      }) }}
    {% endcall %}

    {{ appPagination(pagination) }}
  {% else %}
    <p class="govuk-body"><strong>No users found</strong></p>
  {% endif %}
{% endblock %}
