{% extends "layouts/form.njk" %}

{% set title = "What role does this user have?" %}
{% if user.role %}
  {# Editing an existing user #}
  {% set buttonText = "Save changes" %}
  {% set backLink = userPath %}
  {% set formAction = userPath %}
{% else %}
  {# Inviting a new user #}
  {% set buttonText = "Send invitation" %}
  {% set backLink = userPath + "/organisation" %}
  {% set formAction = "/users?success=invited&userId=" + user.id %}
{% endif %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% set adminPermissionsHintHtml %}
        <ul class="govuk-list govuk-list--bullet govuk-hint">
          <li>Manages all logs</li>
          <li>Manages all organisations</li>
          <li>Manages all users</li>
        </ul>
      {% endset %}

      {% set dataCoordinatorPermissionsHintHtml %}
        {% set organisation = data.organisations[user.organisationId] %}
        <ul class="govuk-list govuk-list--bullet govuk-hint">
          <li>Manages logs for {{ organisation.name }} and its managing agents</li>
          <li>Manages details for {{ organisation.name }}</li>
          <li>Manages users for {{ organisation.name }}</li>
        </ul>
      {% endset %}

      {% set dataProviderPermissionsHintHtml %}
        <ul class="govuk-list govuk-list--bullet govuk-hint">
          <li>Views and submits logs for {{ organisation.name }}</li>
        </ul>
      {% endset %}

      {{ govukRadios({
        decorate: ["users", user.id, "role"],
        fieldset: {
          legend: {
            html: macro.heading(title, user.name)
          }
        },
        items: [{
          value: "admin",
          text: "Administrator",
          label: {
            classes: "govuk-label--s"
          },
          hint: {
            html: adminPermissionsHintHtml
          }
        } if isAdmin, {
          value: "coordinator",
          text: "Data coordinator",
          label: {
            classes: "govuk-label--s"
          },
          hint: {
            html: dataCoordinatorPermissionsHintHtml
          }
        } if isCoordinator or isAdmin, {
          value: "provider",
          text: "Data provider",
          label: {
            classes: "govuk-label--s"
          },
          hint: {
            html: dataProviderPermissionsHintHtml
          }
        }]
      }) }}

      {{ govukButton({
        text: buttonText
      }) }}
    </div>
  </div>
{% endblock %}
