{% extends "base.njk" %}

{% import "macros.njk" as macro %}

{% set title = user.name or user.email %}
{% set referrer = "/account" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/users",
      text: "Users"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ macro.heading(title, 'Users') }}

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Name"
          },
          value: {
            text: user.name
          },
          actions: {
            items: [{
              href: userPath + "/personal-details",
              text: "Change",
              visuallyHiddenText: "name"
            }]
          } if not user.deactivated
        }, {
          key: {
            text: "Email address"
          },
          value: {
            text: user.email | urlize | safe
          },
          actions: {
            items: [{
              href: userPath + "/personal-details",
              text: "Change",
              visuallyHiddenText: "email address"
            }]
          } if not user.deactivated
        }, {
          key: {
            text: "Role"
          },
          value: {
            text: "Data " + user.role
          },
          actions: {
            items: [{
              href: userPath + "/role",
              text: "Change",
              visuallyHiddenText: "role"
            }]
          } if not user.deactivated
        }, {
          key: {
            text: "Last logged in"
          },
          value: {
            html: macro.userLastActiveHtml(id, user)
          }
        } if not user.deactivated]
      }) }}

      {% if not user.deactivated %}
        <p><a href="{{ userPath }}/deactivate">Deactivate user</a></p>
      {% else %}
        <p class="govuk-body app-!-colour-muted">This user has been deactivated.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
