{% extends "layouts/base.njk" %}

{% import "macros.njk" as macro %}

{% set title = user.name or user.email %}
{% set canAdminUsers = isAdmin or isCoordinator %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/organisations",
      text: "Organisations"
    }, {
      href: organisationPath,
      text: organisation.name
    }, {
      href: organisationPath + "/users",
      text: "Users"
    }, {
      text: title
    }] if isAdmin else [{
      href: organisationPath,
      text: organisation.name
    }, {
      href: organisationPath + "/users",
      text: "Users"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}
  {{ macro.heading(title) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if user.deactivated %}
        <p class="govuk-button-group">
          <span class="app-!-colour-muted govuk-!-margin-right-2">This user has been deactivated.</span>
          {% if isCoordinator or isAdmin %}
            <a class="govuk-link" href="{{ userPath }}/reactivate">Reactivate user</a>
            <a class="govuk-link" href="{{ userPath }}/delete">Delete user</a>
          {% endif %}
        </p>
      {% elif isCoordinator or isAdmin %}
        <p class="govuk-button-group">
          <a class="govuk-link" href="{{ userPath }}/deactivate">Deactivate user</a>
          <a class="govuk-link" href="{{ userPath }}/delete">Delete user</a>
        </p>
      {% endif %}

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Name"
          },
          value: {
            text: user.name
          },
          actions: actionLinks({
            href: userPath + "/personal-details",
            visuallyHiddenText: "name"
          }) if canAdminUsers and not user.deactivated
        }, {
          key: {
            text: "Email address"
          },
          value: {
            text: user.email | urlize | safe
          },
          actions: actionLinks({
            href: userPath + "/personal-details",
            visuallyHiddenText: "email address"
          }) if canAdminUsers and not user.deactivated
        }, {
          key: {
            text: "Organisation"
          },
          value: {
            text: data.organisations[user.organisationId].name
          },
          actions: actionLinks({
            href: userPath + "/organisation",
            visuallyHiddenText: "organisation"
          }) if canAdminUsers and not user.deactivated
        }, {
          key: {
            text: "Role"
          },
          value: {
            text: data.roles[user.role].name
          },
          actions: actionLinks({
            href: userPath + "/role",
            visuallyHiddenText: "role"
          }) if canAdminUsers and not user.deactivated
        }, {
          key: {
            text: "Last logged in"
          },
          value: {
            html: user.lastActive | govukDate if user.lastActive else "Not logged in yet"
          }
        } if not user.deactivated, {
          key: {
            text: "Invited by"
          },
          value: {
            html: users[user.invitedById].name
          }
        }]
      }) }}
    </div>
  </div>
{% endblock %}
