{% extends "layouts/question.njk" %}

{% set title = "Has the tenant or buyer seen the Department for Levelling Up, Housing and Communities (DLUHC) privacy notice?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    hint: {
      html: "You must <a href=\"/public/files/privacy-notice.pdf\">show the privacy notice</a> to the tenant or buyer before you can use this service."
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "gdpr"])) }}
{% endblock %}
