{% extends "layouts/question.njk" %}

{% set title = "Is this a letting or sale?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["letting-or-sale"]
  }, ["logs", log.id, section.id, "letting-or-sale"])) }}
{% endblock %}
