{% extends "layouts/question.njk" %}

{% set title = "What is the tenant code?" %}
{% set questionId = "tenant-code" %}
{% set required = true %}

{% block question %}
  {{ govukInput(decorate({
    classes: "govuk-input--width-10",
    label: {
      html: macro.heading(title, caption)
    },
    hint: {
      text: "This is how you usually refer to this tenancy on your own systems."
    }
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
