{% extends "layouts/question.njk" %}

{% set title = "What is the need type?" %}
{% set questionId = "type-of-need" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.questions[questionId]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
