{% set isArmedForces =
  (log[section.id]["armed-forces"] !== "false") and
  (log[section.id]["armed-forces"] !== "unknown") and
  (log[section.id]["armed-forces"] !== "prefers-not-to-say")
%}
{% set hasHealthCondition =
  (log[section.id]["health-condition"] == "true")
%}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Household links to UK armed forces"
    },
    value: {
      text: log[section.id]["armed-forces"] | textFromInputValue(data.questions["armed-forces"])
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["armed-forces"] else "Answer",
        href: sectionPath + "/armed-forces",
        visuallyHiddenText: "household links to UK armed forces"
      }] if not logArchived
    }
  }, {
    key: {
      text: "Person still serving in UK armed forces"
    },
    value: {
      text: log[section.id]["armed-forces-still-serving"] | textFromInputValue(data.questions["armed-forces-still-serving"])
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["armed-forces-still-serving"] else "Answer",
        href: sectionPath + "/armed-forces-still-serving",
        visuallyHiddenText: "if person is still serving in UK armed forces"
      }] if not logArchived
    }
  } if isArmedForces, {
    key: {
      text: "Person seriously injured or ill as result of serving in UK armed forces"
    },
    value: {
      text: log[section.id]["armed-forces-seriously-injured"] | textFromInputValue(data.questions["armed-forces-seriously-injured"])
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["armed-forces-seriously-injured"] else "Answer",
        href: sectionPath + "/armed-forces-seriously-injured",
        visuallyHiddenText: "if person seriously injured or ill as result of serving in UK armed forces"
      }] if not logArchived
    }
  } if isArmedForces, {
    key: {
      text: "Anybody in household pregnant"
    },
    value: {
      text: log[section.id]["pregnant"] | textFromInputValue(data.questions["yes-no-prefers-not-to-say"])
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["pregnant"] else "Answer",
        href: sectionPath + "/pregnant",
        visuallyHiddenText: "if anybody in household pregnant"
      }] if not logArchived
    }
  }, {
    key: {
      text: "Anybody in household with disabled access needs"
    },
    value: {
      text: log[section.id]["access-needs"] | textFromInputValue(data.questions["access-needs"])
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["access-needs"] else "Answer",
        href: sectionPath + "/access-needs",
        visuallyHiddenText: "if anybody in household with disabled access needs"
      }] if not logArchived
    }
  }, {
    key: {
      text: "Anybody in household with physical or mental health condition"
    },
    value: {
      text: log[section.id]["health-condition"] | textFromInputValue(data.questions["yes-no-prefers-not-to-say"])
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["health-condition"] else "Answer",
        href: sectionPath + "/health-condition",
        visuallyHiddenText: "if anybody in household with physical or mental health condition"
      }] if not logArchived
    }
  }, {
    key: {
      text: "How is person affected by condition or illness"
    },
    value: {
      text: log[section.id]["health-affects"] | textFromInputValue(data.questions["health-affects"])
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["health-affects"] else "Answer",
        href: sectionPath + "/health-affects",
        visuallyHiddenText: "how person is affected by condition or illness"
      }] if not logArchived
    }
  } if hasHealthCondition]
}) }}
