{% extends "layouts/question.njk" %}

{% set title = "Disabled access needs" %}
{% set questionId = "access-needs" %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "What type of access need do they have?"
      }
    },
    items: data.questions[questionId]
  }) }}

  {{ govukRadios({
    decorate: ["logs", log.id, section.id, "other-access-needs"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Do they have any other access needs?"
      }
    },
    items: data.questions["yes-no"]
  }) }}
{% endblock %}
