{% extends "layouts/base.njk" %}

{% set title = "We’re checking the logs" %}
{% set caption = "Upload lettings in bulk (2022/23)" %}

{% block pageNavigation %}
  {{ govukBackLink({
    text: "Back",
    href: "/logs/bulk-upload"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title, caption) }}

      <p>
        We’re checking for any missing data, issues or errors. 
        Depending on file size, this could take a few minutes.
      </p>

      <p>We’ll email you about the outcome.</p>
    </div>
  </div>
{% endblock %}
