{% extends "layouts/base.njk" %}

{% set title = "We're checking the logs" %}
{% set caption = "Bulk upload for lettings" %}

{% block pageNavigation %}
  {{ govukBackLink({
    text: "Back",
    href: "/logs"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title, caption) }}

      <p>Please wait while we check your file for any missing data, issues or errors.</p>

      <p>We’ll send you an email to let you know the outcome.</p>
    </div>
  </div>
{% endblock %}
