{% extends "layouts/base.njk" %}

{% set title = "Upload logs in bulk" %}
{% set caption = "Bulk upload for lettings 2022/23" %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    text: "Back",
    href: "/logs"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title, caption) }}

      <p>Upload multiple logs at once here.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Your data must match the below data specifications. Download these to refer to, as well as the template to use.</p>

      <section class="attachment embedded" id="attachment_7025126">
        <div class="attachment-thumb">
            <a class="govuk-link" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1116378/OTS_IMP_2209.ods"><svg viewBox="0 0 99 140" width="99" height="140">
            <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z"></path>
            <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z"></path>
            <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none"></path>
        </svg>
        </a>
        </div>
        <div class="attachment-details">
            <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
                <a class="govuk-link" href="https://core.communities.gov.uk/public/download/guides-and-manuals/2022_23%20Lettings%20eCORE%20Template.csv?download-format=csv">
                    Template - bulk lettings (2022/23)
                </a>
            </h3>
            <p class="govuk-body metadata">
                <span class="type">CSV</span>, <span class="file-size">36 KB</span>
            </p>
        </div>
      </section>

      <section class="attachment embedded govuk-!-margin-bottom-5" id="attachment_7025126">
        <div class="attachment-thumb">
            <a class="govuk-link" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1116378/OTS_IMP_2209.ods"><svg viewBox="0 0 99 140" width="99" height="140">
            <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z"></path>
            <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z"></path>
            <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none"></path>
        </svg>
        </a>
        </div>
        <div class="attachment-details">
            <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
                <a class="govuk-link" href="https://core.communities.gov.uk/public/download/guides-and-manuals/Lettings%202022-23%20Bulk%20Upload%20Specification.csv?download-format=csv">
                    Specification - bulk lettings (2022/23)
                </a>
            </h3>
            <p class="govuk-body metadata">
                <span class="type">CSV</span>, <span class="file-size">53 KB</span>
            </p>
        </div>
      </section>

      <h2 class="govuk-heading-m">Steps:</h2>

      <ol class="govuk-list govuk-list--number">
        <li>Export your database data, or fill it in manually</li>
        <li>Make sure all data is complete, entering any missing fields</li>
        <li>Save the file (CSV format only)</li>
        <li>Upload the file</li>
      </ol>

      <a class="govuk-button govuk-button--primary govuk-!-margin-top-5" href="/logs/bulk-upload/upload-file">
        Continue
      </a>
    </div>
  </div>
{% endblock %}
