{% extends "layouts/base.njk" %}

{% set title = "Upload logs in bulk" %}
{% set caption = "Bulk upload for lettings 2022/23" %}

{% block pageNavigation %}
  {{ govukBackLink({
    text: "Back",
    href: "/logs"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title, caption) }}

      <p>This allows you to upload multiple logs at once.</p>
      <p>You must use the bulk upload template and save the file in a CSV format.</p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "Make sure that all of the data is complete and formatted correctly. If it is not, we will have to reject all the logs in the file."
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you’re new to bulk upload, find out how to get started
          </span>
        </summary>

        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Using an HMS with an eCORE module in your database</h3>
          <ul>
            <li>
              Download the
              <a href="https://core.communities.gov.uk/public/download/guides-and-manuals/Lettings%202022-23%20Bulk%20Upload%20Specification.csv?download-format=csv"
                 class="govuk-link">
                bulk upload specification for lettings (2022/23)
              </a>
               to guide you through the questions
            </li>
            <li>Export the data using eCORE module from your database</li>
            <li>Check to make sure all the data is complete, and enter in any missing fields</li>
            <li>Delete the header rows so that the spreadsheet only contains the data you entered</li>
            <li>Save the file in a CSV format</li>
            <li>Upload the file</li>
          </ul>

          <h3 class="govuk-heading-s">If you are not using a specific eCORE module</h3>
          <ul>
            <li>
              Download the
              <a href="https://core.communities.gov.uk/public/download/guides-and-manuals/2022_23%20Lettings%20eCORE%20Template.csv?download-format=csv"
                 class="govuk-link">
                bulk upload template for lettings (2022/23)
              </a>
            </li>
            <li>Fill in the sections manually. (You may be able to copy data from a database export if your systems have that function.)</li>
            <li>Once you're satisfied the data is complete, delete the header rows.</li>
            <li>Save the file in a CSV format.</li>
            <li>Upload the file.</li>
          </ul>
        </div>
      </details>

      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          text: "Upload a CSV file"
        }
      }) }}

      <a class="govuk-button govuk-button--primary" href="/logs/bulk-upload/file-uploaded">
        Upload
      </a>
    </div>
  </div>
{% endblock %}
