{% extends "layouts/question.njk" %}

{% set title = "Do you know the household’s combined income after tax?" %}

{% set incomeHtml %}
  <p class="govuk-body">You should include any income from:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>employment</li>
    <li>pensions</li>
    <li>Universal Credit</li>
  </ul>

  <p class="govuk-body">Don’t include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>National Insurance (NI) contributions and tax</li>
    <li>housing benefit</li>
    <li>child benefit</li>
    <li>council tax support</li>
  </ul>
{% endset %}

{% block question %}
  {% call govukFieldset({
    legend: {
      html: macro.heading(title, caption)
    }
  }) %}
    {{ govukDetails({
      summaryText: "What counts as income?",
      html: incomeHtml
    }) }}

    {{ govukRadios(decorate({
      items: data.questions["income-period"]
    }, ["logs", log.id, section.id, "income-period"])) }}
  {% endcall %}
{% endblock %}
