{% extends "layouts/question.njk" %}

{% set title = "After the household has received any housing-related benefits, will they still need to pay for rent and charges?" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, "outgoings-after-benefits"],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    hint: {
      text: "Also known as the ‘outstanding amount’."
    },
    items: data.questions["yes-no"]
  }) }}
{% endblock %}
