{% extends "layouts/question.njk" %}

{% set outgoingsPeriod = log[section.id]["outgoings-period"] %}
{% if outgoingsPeriod == "fortnightly" %}
  {% set period = "every 2 weeks" %}
{% elif outgoingsPeriod == "every-4-weeks" %}
  {% set period = "every 4 weeks" %}
{% elif outgoingsPeriod == "monthly" %}
  {% set period = "every month" %}
{% else %}
  {% set period = "every week" %}
{% endif %}
{% set title = "Can you estimate the outstanding amount?" %}
{% set questionId = "outgoings-outstanding" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, "outgoings-outstanding-known"],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    hint: {
      text: "You only need to give an approximate figure."
    },
    items: [{
      text: "Yes",
      value: "true",
      conditional: {
        html: govukInput({
          decorate: ["logs", log.id, section.id, questionId],
          classes: "govuk-input--width-5",
          label: {
            classes: "govuk-label--m",
            text: "Estimated outstanding amount"
          },
          inputmode: "numeric",
          pattern: "[0-9]*",
          prefix: {
            text: "£"
          },
          suffix: {
            text: period
          }
        })
      }
    }, {
      text: "No",
      value: "false"
    }]
  }) }}
{% endblock %}
