{% extends "layouts/question-interruption.njk" %}

{% set outgoingsPeriod = log[section.id]["outgoings-period"] %}
{% if outgoingsPeriod == "fortnightly" %}
  {% set period = "every 2 weeks" %}
{% elif outgoingsPeriod == "every-4-weeks" %}
  {% set period = "every 4 weeks" %}
{% elif outgoingsPeriod == "monthly" %}
  {% set period = "per month" %}
{% else %}
  {% set period = "per week" %}
{% endif %}
{% set title = "Value for rent is outside of the expected range" %}
{% set questionId = "outgoings-value-correct" %}

{% block interruption %}
  <p class="govuk-body">The maximum rent for a property in the South East is £150 {{ period }}.</p>
  <p class="govuk-body">You entered <strong>{{ log[section.id]["outgoings-rent"] | sterling }} {{ period }}</strong></p>
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Is this value correct?"
      }
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
