{% extends "layouts/question.njk" %}

{% set title = "What do you expect the outstanding amount to be?" %}
{% set questionId = "outgoings-outstanding" %}

{% block question %}
  {{ govukInput(decorate({
    classes: "govuk-input--width-5",
    label: {
      html: macro.heading(title)
    },
    hint: {
      text: "Give an estimated amount if you don't know the exact figure."
    },
    inputmode: "numeric",
    pattern: "[0-9]*",
    prefix: {
      text: "£"
    }
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
