{% extends "layouts/question.njk" %}

{% set title = "How often does the household pay rent and other charges?" %}
{% set questionId = "outgoings-period" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.questions[questionId]
  }) }}
{% endblock %}
