{% extends "layouts/question-interruption.njk" %}

{% set outgoingsPeriod = log[section.id]["outgoings-period"] %}
{% if outgoingsPeriod == "fortnightly" %}
  {% set period = "every 2 weeks" %}
{% elif outgoingsPeriod == "every-4-weeks" %}
  {% set period = "every 4 weeks" %}
{% elif outgoingsPeriod == "monthly" %}
  {% set period = "every month" %}
{% else %}
  {% set period = "every week" %}
{% endif %}
{% set title = "Rent value outside the expected range" %}
{% set questionId = "outgoings-value-correct" %}

{% block interruption %}
  <p>The maximum rent for a property in south-east England is £150 {{ period }}.</p>
  <p>You entered <strong>{{ log[section.id]["outgoings-rent"] | sterling }} {{ period }}</strong></p>
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, questionId],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Is this value correct?"
      }
    },
    items: data.questions["yes-no"]
  }) }}
{% endblock %}
