{% extends "template.njk" %}

{% from "components/autocomplete/macro.njk" import appAutocomplete %}
{% from "components/document-list/macro.njk" import appDocumentList %}
{% from "components/filter/macro.njk" import appFilter with context %}
{% from "components/output/macro.njk" import appOutput %}
{% from "components/pagination/macro.njk" import appPagination with context %}
{% from "components/search/macro.njk" import appSearch %}
{% from "components/sub-navigation/macro.njk" import appSubNavigation %}
{% from "components/table-group/macro.njk" import appTableGroup %}

{% import "macros.njk" as macro %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - GOV.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}
{% set bodyClasses = "app-template--wide" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/logs"  if data.token else "/",
    containerClasses: "govuk-width-container",
    navigation: [{
      href: "/logs/",
      text: "Logs",
      active: activeSection == "logs"
    }, {
      href: "/organisations/",
      text: "Organisations",
      active: activeSection == "organisations"
    } if isAdmin, {
      href: "/users/",
      text: "Users",
      active: activeSection == "users"
    } if isAdmin, {
      href: "/organisations/" + data.account.organisationId,
      text: "Your organisation",
      active: activeSection == "organisations"
    } if isCoordinator, {
      href: "/account/",
      text: "Your account",
      active: activeSection == "account"
    }, {
      href: "/account/sign-out",
      text: "Sign out"
    }] if data.token
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) }}

  {% block pageNavigation %}
    {{ govukBackLink({
      href: backLink
    }) if backLink }}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% set footerMetaHtml %}
    {% if not showSupportInFooter %}
      <h2 class="govuk-heading-m">Get help with this service</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Online helpdesk</h3>
      <p class="govuk-body govuk-!-font-size-16"><a class="govuk-link govuk-footer__link" href="https://digital.dclg.gov.uk/jira/servicedesk/customer/portal/4/group/21" rel="noreferrer noopener" target="_blank">CORE helpdesk (opens in a new tab)</a></p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Telephone</h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>Telephone: 0333 202 5084</li>
        <li>Monday to Friday, 9am to 5:30pm (except public holidays)</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li><a class="govuk-link govuk-footer__link" href="mailto:submitcoredata@levellingup.gov.uk">submitcoredata@levellingup.gov.uk</a></li>
        <li>We aim to respond within 2 working days</li>
      </ul>
    {% endif %}

    <h2 class="govuk-visually-hidden">Footer links</h2>
    <ul class="govuk-footer__inline-list govuk-!-margin-top-6">
      {% if useAutoStoreData %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/clear-session-data">Clear session data</a>
      </li>
      {% endif %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/feature-flags">Feature flags</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/demo-accounts">Demo accounts</a>
      </li>
      {% if data.account %}
        <li class="govuk-footer__inline-list-item">
          Current role: {{ data.roles[data.account.role].name }}
        </li>
      {% endif %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/privacy-notice">Privacy notice</a>
      </li>
    </ul>
  {% endset %}
  {{ govukFooter({
    meta: {
      html: footerMetaHtml
    }
  }) }}
{% endblock %}
