{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% from "related-navigation/macro.njk"                   import appRelatedNavigation %}
{% from "sub-navigation/macro.njk"                       import appSubNavigation %}
{% from "summary-card/macro.njk"                         import appSummaryCard %}
{% from "task-list/macro.njk"                            import appTaskList %}

{% import "macros.njk" as macro %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - GOV.UK" -}}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/logs"  if data.account.token else "/",
    containerClasses: "govuk-width-container",
    navigation: [{
      href: "/organisations/",
      text: "Organisations",
      active: activeSection == 'organisations'
    } if isAdmin, {
      href: "/users/",
      text: "Users",
      active: activeSection == 'users'
    } if isAdmin, {
      href: "/organisations/" + data.account.organisationId,
      text: "Your organisation",
      active: activeSection == 'organisations'
    } if isCoordinator, {
      href: "/account/",
      text: "Your account",
      active: activeSection == 'account'
    }, {
      href: "/account/sign-out",
      text: "Sign out"
    }] if data.account.token
  }) }}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) }}

  {% block pageNavigation %}
    {{ govukBackLink({
      href: backLink
    }) if backLink }}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% set footerMetaHtml %}
    {% if not showSupportInFooter %}
      <h2 class="govuk-heading-m">Get help with this service</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Online helpdesk</h3>
      <p class="govuk-body govuk-!-font-size-16"><a class="govuk-link govuk-footer__link" href="https://digital.dclg.gov.uk/jira/servicedesk/customer/portal/4/group/21" target="_blank">CORE helpdesk</a> (opens in a new tab)</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Telephone</h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>Telephone: 0333 202 5084</li>
        <li>Monday to Friday, 9am to 5:30pm (except public holidays)</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li><a class="govuk-link govuk-footer__link" href="mailto:mhclg.digital-services@communities.gov.uk?subject=CORE">mhclg.digital-services@communities.gov.uk</a></li>
        <li>We aim to respond within 2 working days</li>
      </ul>
    {% endif %}

    <h2 class="govuk-visually-hidden">Footer links</h2>
    <ul class="govuk-footer__inline-list govuk-!-margin-top-6">
      {% if useAutoStoreData %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/clear-session-data">Clear session data</a>
      </li>
      {% endif %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/demo-accounts">Demo accounts</a>
      </li>
      {% if data.account %}
        <li class="govuk-footer__inline-list-item">
          Current role: {{ data.roles[data.account.role].name }}
        </li>
      {% endif %}
    </ul>
  {% endset %}
  {{ govukFooter({
    meta: {
      html: footerMetaHtml
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {{ data | log }}
    <script src="/public/javascripts/application.js"></script>
    {% if useAutoStoreData %}
      <script src="/public/javascripts/auto-store-data.js"></script>
    {% endif %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
