{% extends "template.njk" %}

{% from "components/add-another/macro.njk" import appAddAnother %}
{% from "components/autocomplete/macro.njk" import appAutocomplete %}
{% from "components/document-list/macro.njk" import appDocumentList %}
{% from "components/filter/macro.njk" import appFilter with context %}
{% from "components/log/macro.njk" import appLog %}
{% from "components/output/macro.njk" import appOutput %}
{% from "components/pagination/macro.njk" import appPagination with context %}
{% from "components/primary-navigation/macro.njk" import appPrimaryNavigation %}
{% from "components/search/macro.njk" import appSearch %}
{% from "components/sub-navigation/macro.njk" import appSubNavigation %}
{% from "components/table-group/macro.njk" import appTableGroup %}

{% import "macros.njk" as macro %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{# Pagination #}
{% set pageNumber = pagination.current %}
{% set pageCount = pagination.items | length %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title if title -}}
  {{- " (page " + pageNumber + " of " + pageCount + ")" if pageCount > 1 -}}
  {{- " - " + serviceName + " - GOV.UK" -}}
{% endblock %}

{% set bodyAttributes = bodyAttributes or {"data-module": "edge"} %}
{% set bodyClasses = "app-template--wide" %}

{% block header %}
  {{ govukHeader({
    classes: "app-header" + (" app-header--orange" if isAdmin),
    homepageUrl: "/start",
    productName: serviceName,
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [{
      href: "/account/",
      text: "Your account",
      active: path.startsWith("/account")
    }, {
      href: "/account/sign-out",
      text: "Sign out"
    }] if data.token
  }) }}

  {{ govukPhaseBanner({
    classes: "govuk-width-container",
    tag: {
      classes: "govuk-tag--orange" if isAdmin,
      text: "Support prototype" if isAdmin else "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) if data.token }}

  {{ appPrimaryNavigation({
    items: [{
      href: "/organisations",
      text: "Organisations",
      active: path.startsWith("/organisations")
    }, {
      href: "/users",
      text: "Users",
      active: path.startsWith("/users")
    }, {
      href: "/logs",
      text: "Logs",
      active: path.startsWith("/logs")
    }, {
      href: "/schemes",
      text: "Schemes",
      active: path.startsWith("/schemes")
    }] if isAdmin else [{
      href: userOrganisationPath + "/logs",
      text: "Logs",
      active: path.startsWith(userOrganisationPath + "/logs") or
        path.startsWith("/logs")
    }, {
      href: userOrganisationPath + "/schemes",
      text: "Schemes",
      active: path.startsWith(userOrganisationPath + "/schemes") or
        path.startsWith("/schemes")
    } if (isOwningOrg == true and isCoordinator), {
      href: userOrganisationPath + "/users",
      text: "Users",
      active: path.startsWith(userOrganisationPath + "/users") or
        path.startsWith("/users")
    }, {
      href: userOrganisationPath,
      text: "About your organisation",
      active: path == userOrganisationPath or isOrganisationPage
    }]
  }) if data.token }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block beforeContent %}
  {% block pageNavigation %}
    {{ govukBackLink({
      href: backLink
    }) if backLink }}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% set footerMetaHtml %}
    {% if not showSupportInFooter %}
    <h2 class="govuk-heading-m">Get help with this service</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third-from-desktop">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Online helpdesk</h3>
          <p class="govuk-body govuk-!-font-size-16"><a class="govuk-link govuk-footer__link" href="https://digital.dclg.gov.uk/jira/servicedesk/customer/portal/4/group/21" rel="noreferrer noopener" target="_blank">CORE helpdesk (opens in a new&nbsp;tab)</a></p>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Telephone</h3>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>0333 202 5084</li>
            <li>Monday to Friday, 9am to 5:30pm<br>(except public holidays)</li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link govuk-footer__link" href="mailto:submitcoredata@levellingup.gov.uk">submitcoredata@levellingup.gov.uk</a></li>
            <li>We aim to respond within 2 working&nbsp;days</li>
          </ul>
        </div>
      </div>
    {% endif %}

    <h2 class="govuk-visually-hidden">Footer links</h2>
    <ul class="govuk-footer__inline-list govuk-!-margin-top-6">
      {% if useAutoStoreData %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/clear-session-data">Clear session data</a>
      </li>
      {% endif %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/feature-flags">Feature flags</a>
      </li>
      {% if data.account %}
        <li class="govuk-footer__inline-list-item">
          Current role: {{ data.roles[data.account.role].name }}
        </li>
      {% endif %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/privacy-notice">Privacy notice</a>
      </li>
    </ul>
  {% endset %}
  {{ govukFooter({
    meta: {
      html: footerMetaHtml
    }
  }) }}
{% endblock %}
