{% extends "layouts/form.njk" %}

{% set title = title or "Check your answers" %}
{% set formAction = logPath %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/logs",
      text: "Logs"
    }, {
      href: "/logs/" + log.id,
      text: "Log " + log.id
    }, {
      text: caption
    }]
  }) }}
{% endblock %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {{ macro.heading(title, caption) }}

      {% block checkAnswers %}
      {% endblock %}

      {# Mark section as complete if checking the answers for a log section #}
      {{ govukInput(decorate({
        value: "true",
        type: "hidden"
      }, ["logs", log.id, section.id, "completed"])) if log }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and return to log"
        }) }}

        {# If this section has not yet been marked as completed, the next incomplete section *is* this current section. #}
        {% set nextSectionIndex = 0 if (log[section.id].completed == "true") else 1 %}
        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Save and go to next incomplete section",
          attributes: {
            formaction: logPath + "/" + incompleteSections(log.id)[nextSectionIndex].id
          }
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
