{% extends "layouts/form.njk" %}

{% if questionId and log[section.id][questionId] %}
  {% set formAction = formAction or sectionPath + "/check-your-answers" %}
  {% set buttonText = buttonText or "Save changes" %}
{% else %}
  {% set formAction = formAction or paths.current %}
  {% set buttonText = buttonText or "Save and continue" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/logs",
      text: "Case logs"
    }, {
      href: "/logs/" + log.id,
      text: "Log " + log.id
    }, {
      text: caption
    }]
  }) }}
{% endblock %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList(errors)
      }) if errors }}

      {% block question %}
      {% endblock %}

      {{ govukButton({
        text: buttonText
      }) }}
    </div>
  </div>
{% endblock %}
