{% extends "form.njk" %}

{% set backLink = referrer or paths.back %}
{% set formAction = referrer or paths.current %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <pre>{{ paths | dump(2) }}</pre>

      {% block question %}
      {% endblock %}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </div>
  </div>
{% endblock %}
