{% extends "layouts/base.njk" %}

{% set title = "You cannot use this service" %}
{% set backLink = paths.back %}
{% set formAction = paths.next %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title) }}

      <p>We cannot accept data about a tenant or buyer unless they’ve seen the DLUHC privacy notice.</p>
      <p><a href="/logs">Go to the dashboard</a></p>
    </div>
  </div>
{% endblock %}
