{% extends "question.njk" %}

{% set title = "Has the tenant seen the GDPR notice?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "gdpr"])) }}
{% endblock %}
