{% extends "layouts/question.njk" %}

{% set title = "What is the tenancy start date?" %}
{% set questionId = "letting-start-date" %}

{% block question %}
  {{ govukDateInput(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    hint: {
      text: "For example, 12 11 2020"
    },
    items: data.questions["date-full"]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
