{% extends "layouts/question.njk" %}

{% set title = "Tell us about this letting" %}

{% block question %}
  {{ macro.heading(title, caption) }}

  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Rent type"
      }
    },
    items: data.questions["type-of-rent"]
  }, ["logs", log.id, section.id, "type-of-rent"])) }}

  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Needs type"
      }
    },
    items: data.questions["type-of-need"]
  }, ["logs", log.id, section.id, "type-of-need"])) }}
{% endblock %}
