{% extends "question.njk" %}

{% set title = "What is the tenant code?" %}

{% block question %}
  {{ govukInput(decorate({
    classes: "govuk-input--width-20",
    label: {
      html: macro.heading(title, caption)
    }
  }, ["logs", log.id, section.id, "tenant-code"])) }}
{% endblock %}
