{% extends "layouts/question.njk" %}

{% set title = "What is the rent type?" %}
{% set questionId = "type-of-rent" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        html: macro.heading(title)
      }
    },
    items: data.questions["type-of-rent"]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
