{% extends "layouts/question.njk" %}

{% set title = "Is this property in a supported housing scheme?" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        html: macro.heading(title, caption)
      }
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "uses-scheme"])) }}
{% endblock %}
