{% set householdSize = log[section.id]["number-in-household"] | int %}

{% macro age (is_known, age) %}
  {%- if is_known == "true" %}{{ age }}
  {% elif is_known == "false" %}Not known
  {% else %}<span class="app-!-colour-muted">You didn’t answer this question</span>{% endif -%}
{% endmacro %}

{% set privacyNoticeHtml %}
  {{ govukErrorMessage({
    id: "privacy-notice",
    text: errors["privacy-notice"].msg
  }) if errors["privacy-notice"].msg }}
  {{ log[section.id]["privacy-notice"] | textFromInputValue(data.questions["yes-no"]) }}
{% endset %}

{% set numberInHouseholdHtml %}
  {{ govukErrorMessage({
    id: "number-in-household",
    text: errors["number-in-household"].msg
  }) if errors["number-in-household"].msg }}
  {{ log[section.id]["number-in-household"] | textFromInputValue }}
{% endset %}

{{ rigSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  rows: [{
    key: {
      text: "Tenant has seen the privacy notice"
    },
    value: {
      classes: "app-summary-list__value--error" if errors["privacy-notice"].msg,
      html: privacyNoticeHtml
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["privacy-notice"] else "Answer",
        href: sectionPath + "/privacy-notice",
        visuallyHiddenText: "if tenant has seen the DLUHC privacy notice"
      }] if not logArchived
    }
  }, {
    key: {
      text: "Number of people in household"
    },
    value: {
      classes: "app-summary-list__value--error" if errors["number-in-household"].msg,
      html: numberInHouseholdHtml
    },
    actions: {
      items: [{
        text: "Change" if log[section.id]["number-in-household"] else "Answer",
        href: sectionPath + "/number-in-household",
        visuallyHiddenText: "number of people in household"
      }] if not logArchived
    }
  }]
}) }}

{% for i in range(1, householdSize + 1) %}
  {% set itemId = "lead-tenant" if i == 1 else "person-" + i %}
  {% set isLeadTenant = itemId == "lead-tenant" %}
  {% set ethnicGroupId = log[section.id][itemId]["ethnic-group"] %}
  {% set isKnown = "true" %}
  {% if not isLeadTenant %}
    {% set isKnown = log[section.id][itemId + "-known"] == "true" %}
  {% endif %}
  {% set name = "lead tenant" if isLeadTenant else "person " + i %}

  {{ rigSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: name | capitalize,
    rows: [{
      key: {
        text: "Details known"
      },
      value: {
        text: log[section.id][itemId + "-known"] | textFromInputValue(data.questions["yes-no"])
      },
      actions: {
        items: [{
          text: "Change" if log[section.id][itemId + "-known"] else "Answer",
          href: sectionPath + "/" + itemId + "/known",
          visuallyHiddenText: "if details are known for " + name
        }] if not logArchived
      }
    } if not isLeadTenant, ({
      key: {
        text: "Relationship to lead tenant"
      },
      value: {
        text: log[section.id][itemId]["relationship-to-lead-tenant"] | textFromInputValue(data.questions["relationship-to-lead-tenant"])
      },
      actions: {
        items: [{
          text: "Change" if log[section.id][itemId]["relationship-to-lead-tenant"] else "Answer",
          href: sectionPath + "/" + itemId + "/relationship-to-lead-tenant",
          visuallyHiddenText: name + "’s relationship to lead tenant"
        }] if not logArchived
      }
    } if not isLeadTenant) if isKnown, {
      key: {
        text: "Age"
      },
      value: {
        text: age(log[section.id][itemId]["age-known"], log[section.id][itemId]["age"])
      },
      actions: {
        items: [{
          text: "Change" if log[section.id][itemId]["age-known"] else "Answer",
          href: sectionPath + "/" + itemId + "/age",
          visuallyHiddenText: name + "’s age"
        }] if not logArchived
      }
    } if isKnown, {
      key: {
        text: "Gender identity"
      },
      value: {
        text: log[section.id][itemId]["gender"] | textFromInputValue(data.questions["gender"])
      },
      actions: {
        items: [{
          text: "Change" if log[section.id][itemId]["gender"] else "Answer",
          href: sectionPath + "/" + itemId + "/gender",
          visuallyHiddenText: name + "’s gender identity"
        }] if not logArchived
      }
    } if isKnown, {
      key: {
        text: "Ethnic group"
      },
      value: {
        html: log[section.id][itemId]["ethnic-group"] | textFromInputValue(data.questions["ethnic-group"])
      },
      actions: {
        items: [{
          text: "Change" if log[section.id][itemId]["ethnic-group"] else "Answer",
          href: sectionPath + "/" + itemId + "/ethnic-group",
          visuallyHiddenText: name + "’s ethnic group"
        }] if not logArchived
      }
    } if isLeadTenant, {
      key: {
        text: "Ethnic background"
      },
      value: {
        text: log[section.id][itemId]["ethnic-background"] | textFromInputValue(data.questions["ethnic-background"][ethnicGroupId])
      },
      actions: {
        items: [{
          text: "Change" if log[section.id][itemId]["ethnic-background"] else "Answer",
          href: sectionPath + "/" + itemId + "/ethnic-background",
          visuallyHiddenText: name + "’s ethnic background"
        }] if not logArchived
      }
    } if isLeadTenant, {
      key: {
        text: "Nationality"
      },
      value: {
        text: log[section.id][itemId]["nationality"] | textFromInputValue
      },
      actions: {
        items: [{
          text: "Change" if log[section.id][itemId]["nationality"] else "Answer",
          href: sectionPath + "/" + itemId + "/nationality",
          visuallyHiddenText: name + "’s nationality"
        }] if not logArchived
      }
    } if isLeadTenant, {
      key: {
        text: "Working situation"
      },
      value: {
        text: log[section.id][itemId]["working-situation"] | textFromInputValue(data.questions["working-situation"])
      },
      actions: {
        items: [{
          text: "Change" if log[section.id][itemId]["working-situation"] else "Answer",
          href: sectionPath + "/" + itemId + "/working-situation",
          visuallyHiddenText: name + "’s working situation"
        }] if not logArchived
      }
    } if isKnown]
  }) }}
{% endfor %}
