{{ govukRadios(decorate({
  fieldset: {
    legend: {
      html: macro.fieldsetHeading("Which of these best describes the tenant’s working situation?", "Tenant " + tenantId),
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: hint
  },
  items: data.questions["working-situation"]
}, ["logs", log.id, section.id, "tenant-" + tenantId + "-working-situation"])) }}
