{{ govukRadios(decorate({
  fieldset: {
    legend: {
      html: macro.fieldsetHeading("What is this tenant’s relationship to the lead tenant?", "Tenant " + tenantId),
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: hint
  },
  items: data.questions["relationship-to-lead-tenant"]
}, ["logs", log.id, section.id, "tenant-" + tenantId + "-relationship"])) }}
