{% extends "layouts/check-answers.njk" %}

{% set householdSize = log[section.id]["number-in-household"] | int %}

{% macro age (is_known, age) %}
{%- if is_known == "true" %}{{ age }}
{% elif is_known == "false" %}Not known
{% else %}<span class="app-!-colour-muted">You didn’t answer this question</span>
{% endif -%}
{% endmacro %}

{% block checkAnswers %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Number of people in household"
      },
      value: {
        text: log[section.id]["number-in-household"] | textFromInputValue()
      },
      actions: {
        items: [{
          href: sectionPath + "/number-in-household?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "number of people in household"
        }]
      }
    }]
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-top-9">Lead tenant</h2>
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Lead tenant’s age"
      },
      value: {
        text: age(log[section.id]["lead-tenant-age-known"], log[section.id]["lead-tenant-age"])
      },
      actions: {
        items: [{
          href: sectionPath + "/lead-tenant-age?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "lead’s tenant age"
        }]
      }
    }, {
      key: {
        text: "Lead tenant’s gender identity"
      },
      value: {
        text: log[section.id]["lead-tenant-gender"] | textFromInputValue(data.questions["gender-identity"])
      },
      actions: {
        items: [{
          href: sectionPath + "/lead-tenant-gender?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "lead tenant’s gender identity"
        }]
      }
    }, {
      key: {
        text: "Lead tenant’s nationality"
      },
      value: {
        text: log[section.id]["lead-tenant-nationality"] | textFromInputValue(data.questions["nationality"])
      },
      actions: {
        items: [{
          href: sectionPath + "/lead-tenant-nationality?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "lead tenant’s nationality"
        }]
      }
    }, {
      key: {
        text: "Lead tenant’s working situation"
      },
      value: {
        text: log[section.id]["lead-tenant-working-situation"] | textFromInputValue(data.questions["working-situation"])
      },
      actions: {
        items: [{
          href: sectionPath + "/lead-tenant-working-situation?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "lead tenant’s working situation"
        }]
      }
    }]
  }) }}

  {% if householdSize > 1 %}
    {% for i in range(1, householdSize) %}
      {% set tenantKnown = true if log[section.id]["tenant-" + (i + 1) + "-known"] == "true" %}
      {% set tenantKnownResponse = "Yes" if tenantKnown %}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Tenant {{ i + 1 }}</h2>
      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Details known for tenant " + (i + 1)
          },
          value: {
            text: tenantKnownResponse or "No"
          },
          actions: {
            items: [{
              href: sectionPath + "/tenant-" + (i + 1) + "-known",
              text: "Change",
              visuallyHiddenText: "whether you know the details for tenant " + (i + 1)
            }]
          }
        }, {
          key: {
            text: "Relationship to lead tenant"
          },
          value: {
            text: log[section.id]["tenant-" + (i + 1) + "-relationship"] | textFromInputValue(data.questions["relationship-to-lead-tenant"])
          },
          actions: {
            items: [{
              href: sectionPath + "/tenant-" + (i + 1) + "-relationship?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "relationship to lead tenant"
            }]
          }
        } if tenantKnown, {
          key: {
            text: "Age"
          },
          value: {
            text: age(log[section.id]["tenant-" + (i + 1) + "-age-known"], log[section.id]["tenant-" + (i + 1) + "-age"])
          },
          actions: {
            items: [{
              href: sectionPath + "/tenant-" + (i + 1) + "-age?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "tenant’s age"
            }]
          }
        } if tenantKnown, {
          key: {
            text: "Gender identity"
          },
          value: {
            text: log[section.id]["tenant-" + (i + 1) + "-gender"] | textFromInputValue(data.questions["gender-identity"])
          },
          actions: {
            items: [{
              href: sectionPath + "/tenant-" + (i + 1) + "-gender?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "tenant’s gender identity"
            }]
          }
        } if tenantKnown, {
          key: {
            text: "Working situation"
          },
          value: {
            text: log[section.id]["tenant-" + (i + 1) + "-working-situation"] | textFromInputValue(data.questions["working-situation"])
          },
          actions: {
            items: [{
              href: sectionPath + "/tenant-" + (i + 1) + "-working-situation?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "tenant’s working situation"
            }]
          }
        } if tenantKnown]
      }) }}

    {% endfor %}
  {% endif %}
{% endblock %}
