{% extends "layouts/question.njk" %}

{% set householdSize = log[section.id]["number-in-household"] | int %}
{% set title = "You have told us about 1 of " + householdSize + " people in the household" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: 'Do you know details for another tenant?',
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    hint: {
      text: hint
      }
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "lead-tenant-add-someone-else"])) }}
{% endblock %}
