{% extends "layouts/question.njk" %}

{% set caption = "Lead tenant" %}
{% set title = "What is the lead tenant’s nationality?" %}
{% set questionId = "nationality" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--l",
        html: macro.fieldsetHeading(title, caption)
      }
    },
    hint: {
      text: "The lead tenant is the person in the household who does the most paid work. If several people do the same paid work, the lead tenant is whoever is the oldest."
    },
    items: [{
      text: "British (including English, Scottish, Welsh or from Northern Ireland)",
      value: "British (including English, Scottish, Welsh or from Northern Ireland)"
    }, {
      text: "Irish (including from Northern Ireland)",
      value: "Irish (including from Northern Ireland)"
    }, {
      text: "European (from any EEA country, excluding Ireland)",
      value: "European (from any EEA country, excluding Ireland)"
    }, {
      divider: "or"
    }, {
      text: "Another nationality",
      value: "Another nationality",
      conditional: {
        html: govukInput(decorate({
          label: {
            text: "Nationality"
          }
        }, ["logs", log.id, section.id, itemId, "other-nationality"]))
      }
    }, {
      text: "Tenant prefers not to say",
      value: "Tenant prefers not to say"
    }] if (data.features["2022-23"].on == true) else data.questions[questionId]
  }, ["logs", log.id, section.id, itemId, questionId])) }}
{% endblock %}
