{% extends "layouts/question.njk" %}

{% set title = "How many people live in the household for this letting?" %}
{% set questionId = "number-in-household" %}

{% block question %}
  {{ govukInput({
    decorate: ["logs", log.id, section.id, questionId],
    classes: "govuk-input--width-3",
    label: {
      html: macro.heading(title, caption)
    },
    hint: {
      text: "You can provide details for a maximum of 8 people."
    },
    validate: {
      numericality: {
        onlyInteger: true,
        greaterThan: 0,
        lessThanOrEqualTo: 8,
        message: "You must enter a number between 1 and 8"
      }
    }
  }) }}
{% endblock %}
