{% extends "layouts/question.njk" %}

{% set title = "Has the lead tenant seen the Department for Levelling Up, Housing & Communities (DLUHC) privacy notice?" %}
{% set questionId = "privacy-notice" %}

{% block question %}
  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: macro.heading(title, caption)
      }
    },
    hint: {
      text: "The ‘lead’ or ‘main’ tenant is the person in the household who does the most paid work. If several people do the same paid work, the lead tenant is whoever is the oldest."
    },
    items: [{
      text: "Yes",
      value: "true"
    }, {
      text: "Don’t know",
      value: "unknown",
      hint: {
        text: "You must show the DLUHC privacy notice to the tenant before you can submit this log."
      }
    }]
  }, ["logs", log.id, section.id, questionId])) }}
{% endblock %}
