{% extends "layouts/question.njk" %}

{% set isLeadTenant = itemId == "lead-tenant" %}
{% set name = itemId | replace("-", " ") %}
{% set title = "What is " + name + "’s relationship to the lead tenant?" %}
{% set questionId = "relationship-to-lead-tenant" %}

{% block question %}
  {{ govukRadios({
    decorate: ["logs", log.id, section.id, itemId, questionId],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--l",
        html: macro.fieldsetHeading(title, caption)
      }
    },
    items: data.questions[questionId]
  }) }}
{% endblock %}
