{% extends "layouts/question.njk" %}

{% set householdSize = log[section.id]["number-in-household"] | int %}
{% set heading = "You have given us details for 1 of " + householdSize + " tenants." %}

{% block question %}

  {{ macro.heading(heading, caption) }}

  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        text: "Do you know the details of the second tenant?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "You must provide details of all tenants if you know them."
    },
    items: data.questions["yes-no"]
  }, ["logs", log.id, section.id, "know-tenant-2"])) }}
{% endblock %}
