{% extends "form.njk" %}

{% set title = "Create an account to submit CORE data" %}
{% set formAction = "/logs" %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ macro.heading(title) }}

      <p>You have been invited to create an account with the email address <strong>jane.doe@example.gov.uk</strong>.</p>

      {{ govukInput(decorate({
        type: "hidden",
        value: "Janina Doe"
      }, ["account", "name"])) }}

      {{ govukInput(decorate({
        type: "hidden",
        value: "janina.doe@example.gov.uk"
      }, ["account", "email"])) }}

      {{ govukInput({
        label: {
          text: "Create a password"
        },
        hint: {
          text: "Your password must be at least 8 characters and hard to guess."
        },
        type: "password",
        autocomplete: "new-password",
        spellcheck: false
      }) }}

      {{ govukCheckboxes({
        name: "agreed-terms",
        items: [{
          value: "yes",
          html: "I agree to the <a href=\"#\">terms and conditions</a>"
        }]
      }) }}

      {{ govukInput(decorate({
        type: "hidden",
        value: "true"
      }, ["account", "token"])) }}

      {{ govukButton({
        text: "Create account"
      }) }}
    </div>
  </div>
{% endblock %}
