{% extends "layouts/base.njk" %}

{% import "macros.njk" as macro %}

{% set title = "Your account" %}
{% set referrer = "/account" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title) }}

      <h2 class="govuk-heading-m">Personal details</h2>
      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Name"
          },
          value: {
            text: account.name
          },
          actions: {
            items: [{
              href: "/account/personal-details?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "name"
            }]
          }
        }, {
          key: {
            text: "Email address"
          },
          value: {
            text: account.email
          },
          actions: {
            items: [{
              href: "/account/personal-details?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "email address"
            }]
          }
        }, {
          key: {
            text: "Password"
          },
          value: {
            html: "••••••••"
          },
          actions: {
            items: [{
              href: "/account/password?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "password"
            }]
          }
        }, {
          key: {
            text: "Organisation"
          },
          value: {
            text: data.organisations[account.organisationId].name
          },
          actions: {
            items: [{
              href: "#",
              text: "Change",
              visuallyHiddenText: "organisation"
            } if isAdmin]
          }
        }, {
          key: {
            text: "Role"
          },
          value: {
            text: data.roles[account.role].name
          },
          actions: {
            items: [{
              href: "#",
              text: "Change",
              visuallyHiddenText: "role"
            } if isCoordinator or isAdmin]
          }
        }]
      }) }}
    </div>
  </div>
{% endblock %}
