{% extends "layouts/base.njk" %}

{% import "macros.njk" as macro %}

{% set title = "Your account" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title) }}

      <h2 class="govuk-heading-m">Personal details</h2>
      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Name"
          },
          value: {
            text: account.name
          },
          actions: actionLinks({
            href: "/account/personal-details",
            visuallyHiddenText: "name"
          })
        }, {
          key: {
            text: "Email address"
          },
          value: {
            text: account.email
          },
          actions: actionLinks({
            href: "/account/personal-details",
            visuallyHiddenText: "email address"
          })
        }, {
          key: {
            text: "Password"
          },
          value: {
            html: "••••••••"
          },
          actions: actionLinks({
            href: "/account/password",
            visuallyHiddenText: "password"
          })
        }, {
          key: {
            text: "Organisation"
          },
          value: {
            text: data.organisations[account.organisationId].name
          },
          actions: actionLinks({
            href: "#",
            visuallyHiddenText: "organisation"
          }) if isAdmin
        }, {
          key: {
            text: "Role"
          },
          value: {
            text: data.roles[account.role].name
          },
          actions: actionLinks({
            href: "#",
            visuallyHiddenText: "role"
          }) if isCoordinator or isAdmin
        }]
      }) }}
    </div>
  </div>
{% endblock %}
