{% extends "layouts/form.njk" %}

{% set title = "Change your personal details" %}
{% set backLink = "/account" %}
{% set formAction = "/account" %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title) }}

      {{ govukInput({
        decorate: ["account", "name"],
        label: {
          text: "Name"
        },
        autocomplete: "name",
        spellcheck: false
      }) }}

      {{ govukInput({
        decorate: ["account", "email"],
        label: {
          text: "Email address"
        },
        autocomplete: "email",
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Save changes"
      }) }}
    </div>
  </div>
{% endblock %}
