{% extends "form.njk" %}

{% set title = "Reset password" %}
{% set backLink = "/account/sign-in" %}
{% set formAction = "/account/check-your-email" %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ macro.heading(title) }}

      <p>Enter the email address you used to create your account.</p>
      <p>We’ll email you a link to reset your password.</p>

      {{ govukInput(decorate({
        label: {
          text: "Email address"
        },
        value: false,
        autocomplete: "email",
        spellcheck: false
      }, ["account", "email"])) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
{% endblock %}
