{% extends "layouts/form.njk" %}

{% set title = "Reset password" %}
{% set backLink = "/account/sign-in" %}
{% set formAction = "/account/check-your-email" %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ macro.heading(title) }}

      <p>Enter the email address you used to create your account.</p>
      <p>We’ll email you a link to reset your password. This link will expire in 3 hours.</p>

      {{ govukInput(decorate({
        label: {
          text: "Email address"
        },
        value: false,
        autocomplete: "email",
        spellcheck: false
      }, ["account", "email"])) }}

      {{ govukButton({
        text: "Send email"
      }) }}

      <p>Already have an account? <a href="/account/sign-in">Sign in</a>.</p>
    </div>
  </div>
{% endblock %}
