{% extends "form.njk" %}

{% set title = "Sign in to your CORE account" %}
{% set formAction = "/logs" %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukNotificationBanner({
        html: "Your password has been reset. Sign in with your new password to continue.",
        type: "success"
      }) if success == "password-reset" }}

      {{ macro.heading(title) }}

      {{ govukInput(decorate({
        label: {
          text: "Email address"
        },
        autocomplete: "email",
        spellcheck: false
      }, ["account", "email"])) }}

      {{ govukInput({
        label: {
          text: "Password"
        },
        type: "password",
        autocomplete: "current-password",
        spellcheck: false
      }) }}

      {{ govukInput(decorate({
        type: "hidden",
        value: "true"
      }, ["account", "token"])) }}

      {{ govukButton({
        text: "Sign in"
      }) }}

      <p>You can <a href="/account/request-password-reset">reset your password</a> if you’ve forgotten it.</p>
    </div>
  </div>
{% endblock %}
