{% extends "email.njk" %}

{% set title = "Reset your password" %}
{% set to = data.account.email %}

{% block content %}
  <p class="govuk-body">Dear {{ data.account.name }},</p>
  <p class="govuk-body">You requested to <a class="govuk-link govuk-link--no-visited-state" href="/account/reset-password">reset your password</a>.</p>
  <p class="govuk-body">This link will expire in 3 hours.</p>
  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/account/request-password-reset">Request a new link</a> if it’s expired or doesn’t work.</p>
  <p class="govuk-body">Regards,</p>
  <p class="govuk-body">DLUHC</p>
{% endblock %}
