{% extends "email.njk" %}

{% set title = "Reset your password" %}
{% set to = data.account.email %}

{% block content %}
  <h1 class="govuk-heading-m">Reset your password</h1>
  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/account/reset-password">htps://core.service.gov.uk/account/reset-password?token=dfas8d9f9qw48kjdsfbiuaef78qwjbdskjbasdiu</a></p>
{% endblock %}
