// GOV.UK Frontend options
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/all";

// Import GOV.UK Prototype Rig components
@import "govuk-prototype-rig/rig/all";

// Import app components
@import "../app/components/all";

// GOV.UK Notify email (used for prototyping emails sent by GOV.UK Notify)
@import "./govuk-notify-email";

// GOV.UK Publishing Components (used for prototyping pages that exist on GOV.UK)
@import "./govuk-publishing-components";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Overrides
.app-\!-colour-muted {
  color: $govuk-secondary-text-colour !important;
}

.app-form-group--heading-dividers .govuk-radios__divider,
.app-form-group--heading-dividers .govuk-checkboxes__divider {
  align-items: center;
  color: $govuk-secondary-text-colour;
  display: flex;
  flex-direction: row;
  margin-top: govuk-spacing(4);
  width: 100%;

  &:before,
  &:after {
    border-top: 1px solid $govuk-border-colour;
    content: "";
    position: relative;
  }

  &:before {
    margin-right: govuk-spacing(1);
    width: 50px;
  }

  &:after {
    margin-left: govuk-spacing(1);
    flex-grow: 1;
  }
}
