// GOV.UK Frontend options
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/all";

// Import GOV.UK Markdown styles
@import "govuk-markdown/x-govuk/all";

// Import GOV.UK Prototype Components
@import "govuk-prototype-components/x-govuk/all";

// Import app components
$app-assets-path: "/public/";
@import "../app/components/all";

// GOV.UK Notify email (used for prototyping emails sent by GOV.UK Notify)
@import "./govuk-notify-email";

// GOV.UK Publishing Components (used for prototyping pages that exist on GOV.UK)
@import "./govuk-publishing-components";

// Overrides
.govuk-tag {
  white-space: nowrap;
}

.govuk-tabs__panel .govuk-summary-list__row:last-of-type {
  border-bottom: 0;
}

// App utilities
.app-\!-colour-muted {
  // stylelint-disable-next-line declaration-no-important
  color: $govuk-secondary-text-colour !important;
}

.app-\!-font-tabular {
  @include govuk-font($size: false, $tabular: true);
}

.app-\!-no-wrap {
  white-space: nowrap;
}

// Custom form group dividers with headings
.app-form-group--heading-dividers .govuk-radios__divider,
.app-form-group--heading-dividers .govuk-checkboxes__divider {
  align-items: center;
  color: $govuk-secondary-text-colour;
  display: flex;
  flex-direction: row;
  margin-top: govuk-spacing(4);
  width: 100%;

  &:before {
    border-top: 1px dashed $govuk-secondary-text-colour;
    content: "";
    flex-grow: 1;
    margin-bottom: govuk-spacing(2);
    position: relative;
  }
}

// Error variant for summary values
.app-summary-list__value--error {
  border-left: $govuk-border-width solid $govuk-error-colour;
  padding-left: govuk-spacing(3);
}

// Home page overrides
$dluhc-brand-colour: #012169;
$dluhc-button-inverse-shadow-colour: govuk-shade($dluhc-brand-colour, 30%);
$dluhc-button-inverse-hover-background-colour: govuk-tint($dluhc-brand-colour, 90%);

.app-template--dluhc {
  .x-govuk-masthead {
    background-color: $dluhc-brand-colour;

    .x-govuk-button--inverse,
    .x-govuk-button--inverse:link,
    .x-govuk-button--inverse:visited {
      @include govuk-responsive-margin(6, "top");
      color: $dluhc-brand-colour;
      box-shadow: 0 $x-govuk-button-shadow-size 0 $dluhc-button-inverse-shadow-colour;
    }

    .x-govuk-button--inverse:hover {
      color: $dluhc-brand-colour;
      background-color: $dluhc-button-inverse-hover-background-colour;
    }

    .x-govuk-button--inverse:active,
    .x-govuk-button--inverse:focus {
      color: $dluhc-brand-colour;
      background-color: $dluhc-button-inverse-hover-background-colour;
    }
  }

  .govuk-header,
  .govuk-header__container,
  .x-govuk-related-navigation {
    border-color: $dluhc-brand-colour;
  }

  .govuk-header__logo {
    width: auto;
  }
}
