// GOV.UK Frontend options
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/all";

// Import GOV.UK Prototype Rig components
@import "govuk-prototype-rig/rig/all";

// Import app components
$app-assets-path: '/public/';
@import "../app/components/all";

// GOV.UK Notify email (used for prototyping emails sent by GOV.UK Notify)
@import "./govuk-notify-email";

// GOV.UK Publishing Components (used for prototyping pages that exist on GOV.UK)
@import "./govuk-publishing-components";

// Overrides
.govuk-tag {
  white-space: nowrap;
}

// App utilities
.app-\!-colour-muted {
  color: $govuk-secondary-text-colour !important;
}

.app-\!-font-tabular {
  @include govuk-font($size: false, $tabular: true);
}

// Custom form group dividers with headings
.app-form-group--heading-dividers .govuk-radios__divider,
.app-form-group--heading-dividers .govuk-checkboxes__divider {
  align-items: center;
  color: $govuk-secondary-text-colour;
  display: flex;
  flex-direction: row;
  margin-top: govuk-spacing(4);
  width: 100%;

  &:before {
    border-top: 1px dashed $govuk-secondary-text-colour;
    content: "";
    position: relative;
  }

  &:before {
    flex-grow: 1;
    margin-bottom: govuk-spacing(2);
  }
}
