{{ govukRadios({
  decorate: ["filter", "user"],
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "govuk-radios--small",
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--s",
      text: "Show"
    }
  },
  items: [{
    text: "All logs",
    value: "all"
  }, {
    text: "Logs you’ve started",
    value: data.account.id
  }]
}) if not isAdmin }}

{{ govukCheckboxes({
  decorate: ["filter", "collection"],
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--s",
      text: "Collection year"
    }
  },
  items: [{
    text: "2022/23",
    value: "2022/23",
    hint: {
      html: "Logs submitted before<br>31 June 2023"
    }
  }, {
    text: "2021/22",
    value: "2021/22",
    hint: {
      html: "Logs submitted before<br>31 June 2022"
    }
  }]
}) }}

{{ govukCheckboxes({
  decorate: ["filter", "status"],
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--s",
      text: "Status"
    }
  },
  items: [{
    text: "In progress",
    value: "incomplete"
  }, {
    text: "Complete",
    value: "complete"
  }]
}) }}

 {{ appAutocomplete(decorate({
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "app-autocomplete--small",
  label: {
    classes: "govuk-label--s",
    text: "Organisation"
  },
  items: [{
    text: "Own Homes Limited",
    value: "1"
  }, {
    text: "Housing Management Limited",
    value: "2"
  }],
  showNoOptionsFound: true
}, ["filter", "organisation"])) if isAdmin }}
