{% extends "layouts/form.njk" %}

{% set caption = "Set up this lettings log" %}
{% set title = "Changing this answer will remove answers you’ve previously given" %}
{% set questionId = "allocation" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title, caption) }}

      <p class="govuk-body">Answers to these questions will be removed:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>[Question name]</li>
        <li>[Question name]</li>
        <li>[Question name]</li>
      </ul>

      <h2 class="govuk-heading-m">Are you sure you want to continue?</h2>

      {{ govukButton({
        classes: "govuk-button--warning",
        text: "Yes – continue with this change"
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="#">No – I’ve changed my mind</a>
      </p>
    </div>
  </div>
{% endblock %}
