{% extends "layouts/form.njk" %}

{% import "macros.njk" as macro %}
{% from "macros.njk" import adminNavigation with context %}

{% set title = "Logs" %}
{% set caption = thisOrganisation.name %}
{% set isGlobalView = isAdmin and path.startsWith("/logs") %}
{% set typeName = type | capitalize %}

{% block form %}
  {{ govukNotificationBanner({
    text: macro.notificationBannerText(query.success, query.logId),
    type: "success"
  }) if query.success }}

  {% if isGlobalView %}
    {{ macro.heading(title) }}
  {% else %}
    {{ adminNavigation(title) if isAdmin else macro.heading(title, caption) }}
  {% endif %}

  <!--
  {{ appSubNavigation({
      items: [{
      href: "/logs?type=lettings",
      text: "Lettings",
      active: type == "lettings"
    }, {
      href: "/logs?type=sales",
      text: "Sales",
      active: type == "sales"
    }]
  }) }}
  <h2 class="govuk-visually-hidden">{{ typeName }}</h2>
  -->

  <div class="app-filter-layout" data-module="filter-layout">
    <div class="govuk-button-group app-filter-toggle">
      {{ govukButton({
        text: "Create a new " + type + " log",
        name: "type",
        value: type,
        attributes: {
          formaction: "/logs/create"
        }
      }) }}
      <a class="govuk-link govuk-link--no-visited-state" href="#">
        Upload logs
      </a>
    </div>

    <div class="app-filter-layout__filter">
      {{ appFilter({
        title: "Filters"
      }) }}
    </div>

    <div class="app-filter-layout__content">
      {{ appSearch({
        decorate: "q",
        classes: "govuk-!-margin-bottom-4",
        label: {
          classes: "govuk-!-margin-bottom-2",
          text: "Search by tenant code or property reference"
        }
      }) }}

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

      {%- set logRows = [] -%}
      {% for log in results | reverse %}
        {% set row = logRows.push([{
            html: "<a href=\"/logs/" + log.id + "\">" + log.id + "</a>"
          }, {
            classes: "app-!-font-tabular",
            text: log.setup["tenant-code"] or "—"
          }, {
            classes: "app-!-font-tabular",
            text: log.setup["property-reference"] or "—"
          }, {
            text: log.setup["letting-start-date"] | textFromInputValue
          }, {
            html: log.created | govukDate
          }, {
            html: govukTag({
              classes: "govuk-tag--" + data.statuses[log.status].colour,
              text: data.statuses[log.status].text
            }) if log.status else log.progress
          }])
        %}
      {% endfor %}

      {% set captionHtml %}
        <span class="govuk-!-margin-right-4">
          {% if q %}<b>56</b> logs found of{% endif %}
          <b>{{ pagination.results.count }}</b> total logs
        </span>
        <a class="govuk-link govuk-link--no-visited-state" href="#" download>Download (CSV)</a>
      {% endset %}

      {% if results.length %}
        {% call appFigure ({
          id: "logs",
          caption: {
            html: captionHtml
          }
        }) %}
          {% call appTableGroup({
            labelledby: "logs"
          }) %}
            {{ govukTable({
              firstCellIsHeader: true,
              head: [{
                text: "Log"
              }, {
                text: "Tenant"
              }, {
                text: "Property"
              }, {
                text: "Tenancy starts"
              }, {
                text: "Log created"
              }, {
                text: "Completed"
              }],
              rows: logRows
            }) }}
          {% endcall %}
        {% endcall %}
        {{ appPagination(pagination) }}
      {% else %}
        <p class="govuk-body">
          <strong>No {{ type }} logs found</strong>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
