{% extends "layouts/base.njk" %}

{% set title = "Log " + log.id %}
{% set incompleteSectionsCount = incompleteSections(log.id) | length %}
{% set sectionsCount = sections | length %}
{% set completeSectionsCount = sectionsCount - incompleteSectionsCount %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/logs",
      text: "Logs"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {% if log.status == "submitted" %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">This log was submitted to the Department of Levelling Up, Housing&nbsp;&amp;&nbsp;Communities on {{ log.updated | govukDate }} </h2>
        <p class="govuk-body">You can make changes and re-submit this log.</p>
      {% else %}
        {% if incompleteSectionsCount > 0 %}
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">This log is incomplete</h2>
        {% else %}
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">This log is ready to submit to the Department of Levelling Up, Housing&nbsp;&amp;&nbsp;Communities</h2>
        {% endif %}
        <p class="govuk-body">You have completed {{ completeSectionsCount }} of {{ sectionsCount }} sections.</p>
        <p><a href="#{{ incompleteSections(log.id)[0].title | slugify }}" class="app-section-skip-link">Skip to next incomplete section: {{ incompleteSections(log.id)[0].title }}</a></p>
      {% endif %}

      {{ rigTaskList({
        classes: "govuk-!-margin-top-8",
        disableSectionNumbering: true,
        sections: taskListSections(log.id)
      }) }}

      <h2 class="govuk-heading-m">Review and submit</h2>
      <p>Review your answers and submit this log to the Department of Levelling Up, Housing&nbsp;&amp;&nbsp;Communities.</p>
      {{ govukButton({
        href: "/logs/" + log.id + "/review",
        text: "Review " + log.type + " log"
      }) }}
    </div>
  </div>
{% endblock %}
