{% extends "layouts/base.njk" %}

{% set title = "Log " + log.id %}
{% set incompleteSectionsCount = incompleteSections(log.id) | length %}
{% set sectionsCount = sections | length %}
{% set completeSectionsCount = sectionsCount - incompleteSectionsCount %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/logs",
      text: "Logs"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ macro.heading(title) }}

      {% if log.status == "submitted" %}
        <p class="govuk-body">
          {{ govukTag({
            classes: "govuk-tag--" + data.statuses[log.status].colour,
            text: data.statuses[log.status].text
          }) }}
        </p>
        <p class="govuk-body">This log was submitted to the Department of Levelling Up, Housing&nbsp;&amp;&nbsp;Communities on {{ log.updated | govukDate }} as part of the 2021/22 collection period.</p>
      {% elif incompleteSectionsCount == 0 %}
        <p class="govuk-body">
          {{ govukTag({
            classes: "govuk-tag--" + data.statuses.completed.colour,
            text: data.statuses.completed.text
          }) }}
        </p>
        <p class="govuk-body">You can <a href="/logs/{{ log.id }}/review">review and make changes to this log</a> until 31 June 2022.</p>
      {% else %}
        {% if completeSectionsCount == 0 %}
          <p class="govuk-body">This log has not been started.</p>
        {% elif incompleteSectionsCount > 0 %}
          <p class="govuk-body">You have completed {{ completeSectionsCount }} of {{ sectionsCount }} sections.</p>
          <p class="govuk-body"><a href="#{{ incompleteSections(log.id)[0].title | slugify }}" class="app-section-skip-link">Skip to next incomplete section: {{ incompleteSections(log.id)[0].title }}</a></p>
        {% else %}
          <p class="govuk-body">This log is ready to submit to the Department of Levelling Up, Housing&nbsp;&amp;&nbsp;Communities.</p>
        {% endif %}
      {% endif %}

      {{ xGovukTaskList({
        classes: "govuk-!-margin-top-8",
        disableSectionNumbering: true,
        sections: taskListSections(log.id)
      }) }}

      {# if completeSectionsCount != 0 %}
        <h2 class="govuk-heading-m">Review and submit</h2>
        <p>Review your answers and submit this log to the Department of Levelling Up, Housing&nbsp;&amp;&nbsp;Communities.</p>
        {{ govukButton({
          href: "/logs/" + log.id + "/review",
          text: "Review " + log.type + " log"
        }) }}
      {% endif #}
    </div>
  </div>
{% endblock %}
