{% extends "layouts/form.njk" %}

{% set logArchived = log.status == "archived" %}
{% if logArchived %}
  {% set title = "Log " + log.id %}
{% else %}
  {% set title = "Review " + log.type + " log" %}
{% endif %}
{% set participant = "buyer" if log.type == "sales" else "tenant" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/logs",
      text: "Logs"
    }, {
      text: title
    }] if logArchived else [{
      href: "/logs",
      text: "Logs"
    }, {
      href: "/logs/" + log.id,
      text: "Log " + log.id
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList(errors)
      }) if errors }}

      {{ macro.heading(title, false, "xl") }}

      {% if logArchived %}
        <p class="govuk-body">
          {{ govukTag({
            classes: "govuk-tag--" + data.statuses[log.status].colour,
            text: data.statuses[log.status].text
          }) }}
        </p>
        <p class="govuk-body">This log was submitted to the Department of Levelling Up, Housing&nbsp;&amp;&nbsp;Communities on {{ log.updated | govukDate }}.</p>
      {% endif %}

      {% for group in data.groups %}
        <h2 class="govuk-heading-m">{{ group.title }}</h2>
        {% for section in sections | where("group", group.id) %}
          {% set sectionPath = "/logs/" + log.id + "/" + section.id %}
          {% if section.id != "household-characteristics" %}
            <div class="rig-summary-card govuk-!-margin-bottom-6">
              <div class="rig-summary-card__header">
                <h3 class="rig-summary-card__title">{{ section.title }}</h3>
              </div>
              <div class="rig-summary-card__body">
          {% endif %}
              {% include "logs/" + section.id + "/_answers.njk" ignore missing %}
          {% if section.id != "household-characteristics" %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% if logArchived %}
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="/logs">Return to logs</a>
        </p>
      {% else %}
        {{ govukInsetText({
          text: "You can submit changes to this log until the close of the current collection year, 31 March 2022."
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit " + log.type + " log"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/logs/{{ log.id }}">Return to log</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
