{% extends "layouts/base.njk" %}

{% set title = serviceName + " prototype" %}

{% block main %}
  {{ xGovukMasthead({
    classes: "x-govuk-masthead--large",
    title: {
      html: title | noOrphans
    },
    startButton: {
      href: "/start",
      text: "View prototype"
    }
  }) }}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h2 class="govuk-heading-m govuk-!-font-size-27">Demo accounts</h2>
          <form action="/account/sign-in" method="post">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">DLUHC/Helpdesk</h3>
            <p>A member of the CORE team at DLUHC or a helpdesk agent can manage all information held by the service.</p>
            <div class="govuk-button-group">
              {{ govukButton(decorate({
                classes: "govuk-button--secondary",
                text: "Sign in as a customer support agent",
                value: "admin@levellingup.gov.uk"
              }, ["account", "email"])) }}
            </div>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Organisation that holds its own stock</h3>
            <p>A data coordinator can manage details about this organisation and manage case logs the organisation is responsible for. A data provider can only submit and view case logs.</p>
            <div class="govuk-button-group">
              {{ govukButton(decorate({
                classes: "govuk-button--secondary",
                text: "Sign in as a data coordinator",
                value: "data.coordinator@owning.org.uk"
              }, ["account", "email"])) }}

              {{ govukButton(decorate({
                classes: "govuk-button--secondary",
                text: "Sign in as a data provider",
                value: "data.provider@owning.org.uk"
              }, ["account", "email"])) }}
            </div>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Organisation that manages stock on behalf of an owning organisation</h3>
            <p>A data coordinator can manage details about this organisation and manage case logs the organisation is responsible for. A data provider can only submit and view case logs.</p>
            <div class="govuk-button-group">
              {{ govukButton(decorate({
                classes: "govuk-button--secondary",
                text: "Sign in as a data coordinator",
                value: "data.coordinator@managing.org.uk"
              }, ["account", "email"])) }}

              {{ govukButton(decorate({
                classes: "govuk-button--secondary",
                text: "Sign in as a data provider",
                value: "data.provider@managing.org.uk"
              }, ["account", "email"])) }}
            </div>
          </form>

          <hr class="govuk-section-break govuk-section-break--l">

          <h2 class="govuk-heading-m govuk-!-font-size-27">Example GOV.UK guidance pages</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/guidance">Collection: Social housing lettings</a></li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
          {{ xGovukRelatedNavigation({
            sections: [{
              title: "Related links",
              subsections: [{
                title: "Team resources",
                items: [{
                  text: "Design history",
                  href: "https://core-design-history.netlify.app"
                }, {
                  text: "Confluence",
                  href: "https://digital.dclg.gov.uk/confluence/display/MC/DLUHC-+CLDC+Home"
                }, {
                  text: "JIRA",
                  href: "https://digital.dclg.gov.uk/jira/secure/RapidBoard.jspa?projectKey=CLDC&rapidView=152"
                }]
              }, {
                title: "Paper forms",
                items: [{
                  href: "/public/files/paper-form-social-housing-letting.pdf",
                  text: "Lettings log for tenants"
                }, {
                  href: "/public/files/paper-form-social-housing-sale.pdf",
                  text: "Sales log for buyers"
                }]
              }, {
                title: "Live service",
                items: [{
                  text: "Staging",
                  href: "https://dluhc-core-staging.london.cloudapps.digital"
                }, {
                  text: "Production",
                  href: "https://dluhc-core-production.london.cloudapps.digital"
                }]
              }, {
                title: "GitHub repositories",
                items: [{
                  text: "Design history",
                  href: "https://github.com/roobottom/core-design-history"
                }, {
                  text: "Live service",
                  href: "https://github.com/communitiesuk/submit-social-housing-lettings-and-sales-data"
                }, {
                  text: "Prototype",
                  href: "https://github.com/communitiesuk/submit-social-housing-lettings-and-sales-data-prototype"
                }]
              }]
            }]
          }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
