{% extends "layouts/base.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-width-two-thirds">{{ serviceName }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Use this service to submit new logs to the Department for Levelling Up, Housing and Communities (DLUHC). We’ll send you a confirmation email for each log you submit.</p>
      <p>You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>create and submit individual logs</li>
        <li>view logs and change answers</li>
        <li>print a form</li>
      </ul>

      {{ govukButton({
        href: "/account/sign-in",
        text: "Start now",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>
      <p>Use your existing account details to sign in.</p>
      <p>If you’re a new user, a data coordinator at your organisation will need to create an account for you. If you do not know who that is, <a href="https://digital.dclg.gov.uk/jira/servicedesk/customer/portal/4/group/21">contact the helpdesk</a>.</p>
      <p>You can <a href="/guidance">read guidance on continuous recording of lettings and sales in social housing in England (CORE)</a>.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ rigRelatedNavigation({
        sections: [{
          title: "Useful documents",
          items: [{
            href: "/public/files/paper-form-social-housing-letting.pdf",
            text: "Download the 2020 to 2021 Lettings Log as a PDF (2MB)"
          }]
        }, {
          title: "Help and support",
          items: [{
            href: "#",
            text: "Get help with this service"
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
