{% extends "layouts/base.njk" %}

{% set title = "Prototype for " + serviceName %}
{% set bodyClasses = "app-template--dluhc" %}
{% set hidePhaseBanner = true %}

{% block main %}
  {{ xGovukMasthead({
    title: {
      html: title | noOrphans
    },
    startButton: {
      classes: "govuk-!-margin-top-0",
      href: "/start",
      text: "Service start page"
    }
  }) }}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <form action="/account/sign-in" method="post">
            {{ govukRadios({
              decorate: "example-account",
              fieldset: {
                legend: {
                  classes: "govuk-fieldset__legend--m govuk-!-font-size-27",
                  text: "Sign in with an example account"
                }
              },
              hint: {
                text: "Select from one of the following roles"
              },
              items: [{
                value: "admin@levellingup.gov.uk",
                text: "Customer support agent",
                label: {
                  classes: "govuk-label--s"
                },
                hint: {
                  text: "Manages information for all organisations"
                }
              }, {
                text: "Data coordinator",
                label: {
                  classes: "govuk-label--s"
                },
                hint: {
                  text: "Manages their organisation’s data and logs"
                },
                conditional: {
                  html: govukRadios({
                    name: "account-email",
                    idPrefix: "dc",
                    classes: "govuk-radios--small",
                    items: data.exampleAccounts.coordinator
                  })
                }
              }, {
                value: "admin@levellingup.gov.uk",
                text: "Data provider",
                label: {
                  classes: "govuk-label--s"
                },
                hint: {
                  text: "Views and submits logs for their organisation"
                },
                conditional: {
                  html: govukRadios({
                    name: "account-email",
                    idPrefix: "dp",
                    classes: "govuk-radios--small",
                    items: data.exampleAccounts.provider
                  })
                }
              }]
            }) }}

            {{ govukButton({
              classes: "govuk-!-margin-bottom-0",
              text: "Sign in with example account"
            }) }}
          </form>

          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

          <h2 class="govuk-heading-m govuk-!-font-size-27">Paper forms</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/public/files/paper-form-social-housing-letting.pdf">Lettings log for tenants</a></li>
            <li><a href="/public/files/paper-form-social-housing-sale.pdf">Sales log for buyers</a></li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

          <h2 class="govuk-heading-m govuk-!-font-size-27">Example GOV.UK guidance pages</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/guidance">Collection: Social housing lettings</a></li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
          {{ xGovukRelatedNavigation({
            sections: [{
              title: "Related resources",
              items: [{
                text: "Confluence",
                href: "https://digital.dclg.gov.uk/confluence/display/MC/DLUHC-+CLDC+Home"
              }, {
                text: "Design history",
                href: "https://core-design-history.netlify.app"
              }, {
                text: "Glossary",
                href: "https://core-design-history.netlify.app/glossary"
              }, {
                text: "JIRA",
                href: "https://digital.dclg.gov.uk/jira/secure/RapidBoard.jspa?projectKey=CLDC&rapidView=152"
              }],
              subsections: [{
                title: "Live service",
                items: [{
                  text: "Production",
                  href: "https://dluhc-core-production.london.cloudapps.digital"
                }, {
                  text: "Staging",
                  href: "https://dluhc-core-staging.london.cloudapps.digital"
                }]
              }, {
                title: "GitHub repositories",
                items: [{
                  text: "Design history",
                  href: "https://github.com/roobottom/core-design-history"
                }, {
                  text: "Live service",
                  href: "https://github.com/communitiesuk/submit-social-housing-lettings-and-sales-data"
                }, {
                  text: "Prototype",
                  href: "https://github.com/communitiesuk/submit-social-housing-lettings-and-sales-data-prototype"
                }]
              }]
            }]
          }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
