{# Common macros #}
{% macro heading(heading, caption, size="l", headingLevel="1") %}
<h{{ headingLevel }} class="govuk-heading-{{ size }}">
  {% if caption %}<span class="govuk-caption-{{ size }}">{{ caption }}</span>{% endif %}
  {{ heading | noOrphans | safe }}
</h{{ headingLevel }}>
{% endmacro %}

{% macro fieldsetHeading(heading, caption, size="l", headingLevel="1") %}
<h{{ headingLevel }} class="govuk-fieldset__heading">
  {% if caption %}<span class="govuk-caption-{{ size }}">{{ caption }}</span>{% endif %}
  {{ heading | noOrphans | safe }}
</h{{ headingLevel }}>
{% endmacro %}

{% macro entityHtml(title, href, caption) %}
  {% if href %}
    <a class="govuk-link govuk-!-font-weight-bold" href="{{ href }}">{{ title | nl2br | escape }}</a>
  {% else %}
    {{ title | nl2br | escape }}
  {% endif %}
  {% if caption %}
    <br><span class="govuk-!-font-weight-regular app-!-colour-muted">{{ caption }}</span>
  {% endif %}
{% endmacro %}

{# Postcode answer witjh inferred local authority #}
{% macro postcodeHtml(postcode, localauthority) %}
  <span class="govuk-!-margin-right-4">{{ postcode | upper }}</span>
  <span class="govuk-!-font-weight-regular app-!-colour-muted">{{ localauthority }}</span>
{% endmacro %}

{# User macros #}
{% macro userLastActiveHtml(user) %}
  {% if user.deactivated %}
    <span class="app-!-colour-muted">Deactivated</span>
  {% elif user.lastActive %}
    {{ user.lastActive | govukDate }}
  {% else %}
    Not logged in yet
  {% endif %}
{% endmacro %}

{# Admin macros #}
{% from "components/sub-navigation/macro.njk" import appSubNavigation %}
{% macro adminNavigation(title) %}
  {{ heading(thisOrganisation.name) }}
  {{ appSubNavigation({
      items: [{
      href: thisOrganisationPath + "/logs",
      text: "Logs",
      active: path.startsWith(thisOrganisationPath + "/logs")
    }, {
      href: thisOrganisationPath + "/schemes",
      text: "Schemes",
      active: path.startsWith(thisOrganisationPath + "/schemes")
    }, {
      href: thisOrganisationPath + "/users",
      text: "Users",
      active: path.startsWith(thisOrganisationPath + "/users")
    }, {
      href: thisOrganisationPath,
      text: "About this organisation",
      active: path == thisOrganisationPath
    }]
  }) }}
  <h2 class="govuk-visually-hidden">{{ title }}</h2>
{% endmacro %}

{% macro organisationHtml(organisations, organisation) %}
  {% if organisation | length > 1 %}
    <ul class="govuk-list govuk-list--bullet">
    {% for organisationId in organisation %}
      <li>{{ organisations[organisationId[1]].name or organisations[organisationId].name }}</li>
    {% endfor %}
    </ul>
  {% elif organisation | length == 1 %}
    <p class="govuk-body">{{ organisations[organisation[1]].name or organisations[organisation].name }}</p>
  {% else %}
    <p class="govuk-body">None</p>
  {% endif %}
{% endmacro %}

{# Collection resources #}
{% from "components/document-list/macro.njk" import appDocumentList %}
{% macro collectionResouces() %}
  <h2 class="govuk-heading-s">2022/23 collection resources</h2>
  {{ appDocumentList({
    items: [{
      href: "/public/files/paper-form-social-housing-letting.pdf",
      text: "Lettings log for tenants",
      metadata: "PDF, 666 KB, 4 pages"
    }, {
      href: "#",
      text: "Lettings bulk upload specification",
      metadata: "CSV, 32 KB"
    }, {
      href: "#",
      text: "Lettings bulk upload template",
      metadata: "CSV, 12 KB"
    }, {
      href: "/public/files/paper-form-social-housing-sale.pdf",
      text: "Sales log for buyers",
      metadata: "PDF, 690 KB, 5 pages"
    }, {
      href: "#",
      text: "Sales bulk upload specification",
      metadata: "CSV, 27 KB"
    }, {
      href: "#",
      text: "Sales bulk upload template",
      metadata: "CSV, 9 KB"
    }]
  }) }}
{% endmacro %}

{% macro tableCaption(type, total, q) %}
  <span class="govuk-!-margin-right-4">
    {% if q %}<b>56</b> {{ type }} found matching ‘{{ q }}’ of{% endif %}
    <b>{{ total }}</b> total {{ type }}
    {%- if q %}. <a class="govuk-link" href="#">Clear search</a>{% endif %}
  </span>
{% endmacro %}
