{# Common macros #}
{% macro heading(heading, caption, size="l", headingLevel="1") %}
<h{{ headingLevel }} class="govuk-heading-{{ size }}">
  {% if caption %}<span class="govuk-caption-{{ size }}">{{ caption }}</span>{% endif %}
  {{ heading | noOrphans | safe }}
</h{{ headingLevel }}>
{% endmacro %}

{% macro fieldsetHeading(heading, caption, size="l", headingLevel="1") %}
<h{{ headingLevel }} class="govuk-fieldset__heading">
  {% if caption %}<span class="govuk-caption-{{ size }}">{{ caption }}</span>{% endif %}
  {{ heading | noOrphans | safe }}
</h{{ headingLevel }}>
{% endmacro %}

{% macro notificationBannerText(success, object) %}
  {{ (object + " has been invited to submit CORE data.") if success == "invited" }}
  {{ (object + " has been deactivated.") if success == "deactivated" }}
  {{ "User has been deleted." if success == "deleted" }}
  {{ ("An invitation to submit CORE data has been resent to " + object + ".") if success == "reinvited" }}
  {{ ("Scheme has been submitted for approval") if success == "submitted" }}
{% endmacro %}

{% macro entityHtml(title, href, caption) %}
  {% if href %}
    <a href="{{ href }}">{{ title }}</a>
  {% else %}
    {{ title }}
  {% endif %}
  {% if caption %}
    <br><span class="govuk-!-font-weight-regular app-!-colour-muted">{{ caption }}</span>
  {% endif %}
{% endmacro %}

{# User macros #}
{% macro userLastActiveHtml(user) %}
  {% if user.deactivated %}
    <span class="app-!-colour-muted">Deactivated</span>
  {% elif user.lastActive %}
    {{ user.lastActive | govukDate }}
  {% else %}
    Not logged in yet<br>
    <a href="/organisations/{{ user.organisationId }}/users?success=reinvited&#38;userId={{ user.id }}">Resend invitation email</a>
  {% endif %}
{% endmacro %}

{% macro localAuthoritiesHtml(localAuthorities, areas) %}
  {% if areas | length > 1 %}
    <ul class="govuk-list govuk-list--bullet">
    {% for gss in areas %}
      {% set localAuthority = localAuthorities | where("gss", gss) | first %}
      <li>{{ localAuthority.name }}</li>
    {% endfor %}
    </ul>
  {% elif areas | length == 1 %}
    {% set localAuthority = localAuthorities | where("gss", areas[0]) | first %}
    {{ localAuthority.name }}
  {% else %}
    None
  {% endif %}
{% endmacro %}

{# Organisation macros #}
{% from "components/sub-navigation/macro.njk" import appSubNavigation %}
{% macro organisationNavigation(organisationPath, section, isOwningOrg) %}
  {{ appSubNavigation({
      items: [{
      href: organisationPath,
      text: "Details",
      active: section == "Details"
    }, {
      href: organisationPath + "/users",
      text: "Users",
      active: section == "Users"
    }, {
      href: organisationPath + "/schemes",
      text: "Schemes",
      active: section == "Schemes"
    } if isOwningOrg == true]
  }) }}
  <h2 class="govuk-visually-hidden">{{ section }}</h2>
{% endmacro %}

{% macro organisationRelationshipHtml(organisations, organisation, type) %}
  {% if organisation[type] | length > 1 %}
    <ul class="govuk-list govuk-list--bullet">
    {% for parentId in organisation[type] %}
      <li>{{ organisations[parentId].name }}</li>
    {% endfor %}
    </ul>
  {% elif organisation[type] | length == 1 %}
    {{ organisations[organisation[type][0]].name }}
  {% else %}
    None
  {% endif %}
{% endmacro %}

{# Scheme macros #}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% macro schemeStatusTagHtml(status, classes) %}
  {{ govukTag({
    text: "Approved",
    classes: "govuk-tag--green" + (" " + classes if classes)
  }) if status == "Approved" }}

  {{ govukTag({
    html: "In review" | noOrphans,
    classes: "govuk-tag--orange" + (" " + classes if classes)
  }) if status == "In review" }}

  {{ govukTag({
    text: "Draft",
    classes: "govuk-tag--grey" + (" " + classes if classes)
  }) if status == "Draft" }}
{% endmacro %}
