{% extends "layouts/base.njk" %}

{% import "macros.njk" as macro %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-width-two-thirds">{{ serviceName }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Use this service to submit social housing lettings and sales data to the Department for Levelling Up, Housing and Communities (DLUHC).</p>
      <p>We’ll ask you questions about a letting or sale, like details about the household or property. Your answers will create a log that you can submit directly to us.</p>
      <p>Your organisation can also:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>upload data for multiple lettings and sales</li>
        <li>transfer data using an API</li>
      </ul>
      <p>The data will be used to update the national record for social housing. It will also help to inform policy about the cost of social housing and what type of housing needs to be built.</p>
      <p>This service is only for social housing in England.</p>

      {{ govukButton({
        href: "/account/sign-in",
        text: "Start now",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>
      <p>Use your account details to sign in.</p>
      <p>If you need to set up a new account, speak to your organisation’s CORE data coordinator. If you don’t know who that is, <a href="https://digital.dclg.gov.uk/jira/servicedesk/customer/portal/4/group/21">contact the helpdesk</a>.</p>
      <p>You can <a href="https://digital.dclg.gov.uk/jira/servicedesk/customer/portal/4/group/21">request an account</a> if your organisation doesn’t have one.</p>
      <p><a href="#">Read our data sharing agreement</a>.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-card">
        <h2 class="govuk-heading-s">2022/23 collection resources</h2>
        {{ macro.collectionResouces("app-document-list--small") }}
      </div>
    </div>
  </div>
{% endblock %}
