{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="app-search {%- if params.classes %} {{ params.classes }}{% endif -%}">
  {{ govukInput({
    decorate: params.decorate,
    id: params.id,
    name: params.name,
    type: "search",
    items: items,
    describedBy: params.describedBy,
    label: params.label,
    hint: params.hint,
    errorMessage: params.errorMessage,
    formGroup: {
      classes: "app-search__form-group"
    },
    classes: "app-search__input",
    attributes: params.attributes
  }) }}
  {{ govukButton({
    classes: "app-search__button " + params.button.classes,
    text: "Search"
  }) }}
</div>
